extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p #{client_name} ha indicado que se realizó el pago de la factura #{invoice_number} y se requiere atención.

  p Antes de confirmar el pago asegurate de realizar lo siguiente:
    ul
      li Realizar el depósito a la cuenta bancaria de la empresa emisora de la factura por la cantidad indicada en la sección “Pago al vencimiento”.
      li Realizar el depósito a la cuenta bancaria de la empresa inversionista de la factura por la cantidad indicada en la sección “Pago al vencimiento”.

  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Una vez realizado esto, selecciona la opción “Confirmar pago” en el menú de acciones, para marcar la factura como completada.

  p Gracias.
  p El equipo de Fondeo Directo
