extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p #{proposer_name} propone invitar a la siguiente empresa a participar en Fondeo Directo:

  p Nombre de la empresa: #{business_name}
  p Relación con su empresa: #{type}
  p Nombre del contacto: #{contact_name}
  p Puesto: #{position}
  p Correo de contacto: #{email}
  p Teléfono de contacto: #{phone}

  p Gracias,
  p Equipo de Fondeo Directo
