extends ./layout/email

mixin description()
  if user_role === 'INVESTOR'
    p Ahora podrás invertir en las facturas que se encuentren en el Market.

  if user_role === 'CXP'
    p Desde este momento podrás autorizar facturas de proveedores seleccionados para que ellos puedan celebrar operaciones de factoraje dentro de la Plataforma.
    p Como referencia, adjunto encontrarás el Convenio Comercial recordándote que éste es una versión light, la cual te permitirá echarle un vistazo rápido a la plataforma y ver todo lo que ésta puede hacer por ti. En su momento, podemos platicar la forma a través de la cual podemos incrementar los beneficios.

  if user_role === 'CXC'
    p Ahora podrás subir las facturas que quieras que se aprueben, para que después las ingreses al Market en busca de fondeo.

block emailContent
  p Estimado <b>#{username}</b>,
  p Hemos recibido la aceptación del "#{contract}" firmado en la plataforma de Fondeo Directo el día #{agreed_at.day} de #{agreed_at.month} del presente a las #{agreed_at.time} hr.
  p Anexo a éste correo encontrarás tu copia.
  +description
  p Si tienes dudas, comunícate con nosotros.
  p Atentamente,
  p Fernando Miramontes
