extends ./layout/email

block emailContent
  include ./mixins/link

  p ¡Hola!

  p La factura #{invoice_number} ha sido pagada:
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Gracias.
  p El equipo de Fondeo Directo
