extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu factura #{invoice_number} se ha fondeado correctamente, esto significa que se ha realizado un depósito a tu cuenta por  $#{cxc_payment}  que corresponde a la cantidad mostrada en el apartado “Pago al fondeo” del detalle de tu factura.

  p La factura que se te ha fondeado tiene una fecha de pago indicada para el día #{invoice_expiration}. Al llegar esta fecha, en un plazo máximo de 10 días hábiles te depositaremos la cantidad mostrada en el apartado “Pago al vencimiento” que se encuentra dentro del mismo detalle de la factura. Te notificaremos cuando esto ocurra.

  p Puedes revisar el status de la factura en todo momento desde la sección “Facturas”.

  p Si deseas ver el detalle de la transacción, da click en el siguiente botón.
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.
  |
  p Gracias por formar parte de nuestra comunidad.
  p El equipo de Fondeo Directo
