extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Hemos confirmado el pago de tu factura #{invoice_number} por parte de tu cliente, esto significa que se ha realizado un depósito a tu cuenta bancaria por la cantidad de $#{cxc_payment}, misma que fue retenida como reserva al momento del fondeo.
  |
  p Si deseas ver el detalle de la transacción, da click en el siguiente botón.
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.
  |
  p Gracias.
  p El equipo de Fondeo Directo
