extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p 
  | #{company_name} ha realizado un nuevo depósito a la cuenta de 
  if mailerFlagFideicomiso
    | Fideicomiso 
  else
    | Fondeo Directo 
  | y se requiere revisión. Puedes ver el comprobante del depósito en la sección de “Modificaciones de saldo pendientes” en el siguiente enlace:
  |
  +link(`${webBaseUrl}/investors/${company_id}`, 'Ver detalle')
  |
  p Si todo está en orden y el depósito aparece en el estado de cuenta bancario, selecciona la opción “aprobar” para que el saldo del inversionista se actualice.
 
  p Al contrario, si algo no está bien, puedes rechazarla e indicar el motivo, para que el inversionista pueda realizar las correcciones correspondientes.

  p Gracias.
  p El equipo de Fondeo Directo


  p P.D. Si lo prefieres, copia y pega este enlace en la barra de direcciones de tu navegador:

  p #{webBaseUrl}/investors/#{company_id}
