extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu depósito por la cantidad de $#{amount} no pudo ser procesado, esto significa que tu saldo no se ha modificado. Este es el motivo por el cual se rechazó el depósito:
  |
  p “ #{reason} ”
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte directamente a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.

  p Gracias.
  p El equipo de Fondeo Directo
