extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p ¡Es momento de fondear!

  p Tu depósito ha sido procesado correctamente y se ha reflejado en el saldo de tu cuenta, esto significa que a partir de este momento puedes fondear facturas en nuestro Market y comenzar a generar ganancias a través de Fondeo Directo.


  +link(`${webBaseUrl}/marketplace`, 'Marketplace')
  |
  p Gracias.
  p El equipo de Fondeo Directo
