extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu fondeo a la factura #{invoice_number} se ha cancelado, esto significa que no se descontará saldo de tu cuenta.

  p Tu fondeo fue cancelado por la siguiente razón:
  |
  p “ #{reason} ”
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte directamente a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.

  p Gracias.
  p El equipo de Fondeo Directo
