extends ./layout/email

block emailContent
  include ./mixins/link

  p <b>Hola #{name}</b>:

  p El equipo de Fondeo Directo te invita a formar parte de nuestra exclusiva red de inversionistas calificados. 
  p Da clic abajo para iniciar tu proceso de registro.

  p Atentamente,
  p El equipo de Fondeo Directo

  +link(`${webBaseUrl}/invitation/${token}`, 'Confirmar Invitación')
