extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu fondeo a la factura #{invoice_number} se ha completado correctamente, esto significa que recibimos el pago por parte del cliente de la misma y hemos realizado un depósito a tu saldo por la cantidad de $#{investor_payment}.
  |
  p Recuerda que puedes solicitar retiros de dinero de tu cuenta en cualquier momento.
  |
  p Si deseas ver el detalle de la transacción, da click en el siguiente botón.
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.
  |
  p Gracias.
  p El equipo de Fondeo Directo
