extends ./layout/email

block emailContent
  include ./mixins/link

  p <b>#{username}</b>:
  p Bienvenido a Fondeo Directo; El Market Place de factoraje que te permite invertir comprando cuentas por pagar de empresas reconocidas.
  p Te invitamos a ingresar a la plataforma utilizando el siguiente enlace para comenzar tu registro.
  p Si tienes dudas o quieres aprender más acerca de nuestra plataforma, puedes referirte a nuestras <a href='#' target='_blank' style='color: #5a52ff;'>preguntas frecuentes</a> o llamar al <span style='color: #5a52ff; font-weight: bold;'>(045) 33.23.12.02.11</span>.
  p Atentamente,
  p El equipo de Fondeo Directo

  +link(`${webBaseUrl}/register/${token}`, 'Confirmar Invitación')
