extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p #{investor_name} ha indicado que desea fondear una factura y se requiere atención.

  p Antes de confirmar el fondeo asegurate de realizar lo siguiente :
    ul
      li Realizar el depósito a la cuenta bancaria de la empresa emisora de la factura por la cantidad indicada en la sección “Pago al fondeo”.

  div(style='margin: 20px 10px; display:flex; justify-content: center; align-items: center;')
    each invoice in invoices
      +smallLink(`${webBaseUrl}/invoices/${invoice.id}`, `${invoice.operation_id}`)
  |
  p Una vez realizado esto, selecciona la opción “Confirmar fondeo” en el menú de acciones, para marcar la factura como fondeada.

  p Al contrario, si algo no está bien, puedes rechazar el fondeo e indicar el motivo, para que el inversionista pueda realizar las correcciones correspondientes.
  |
  p Gracias.
  p El equipo de Fondeo Directo
