extends ./layout/email

block emailContent
  include ./mixins/link

  p Estimado <b>#{client_name}</b>,

  p Próximamente está por vencerse uno (o varios) pago(s) por lo que lo invitamos a pasar a la plataforma para revisar dichos pagos y crear una ficha de depósito*.
  <div style="margin: 40px 0 !important;"> 
    +link(`${webBaseUrl}`, 'Ingreso a la plataforma')
  </div>
  |
  p Para cualquier duda o aclaración favor de ponerse en contacto con nosotros.
  p <small><i>*En la plataforma se podrá generar un número de referencia o ficha de pago, el cual facilitará el proceso de pago. </i> </small>
