extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu cliente <b>#{client_name}</b> ha aprobado tu factura #{invoice_number}, esto significa que a partir de este momento puedes publicarla en nuestro Market para que estén al alcance de la comunidad de fondeadores de nuestra plataforma, dándote la liquidez que necesitas.

  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Publicar factura')
  |
  p Gracias.
  p El equipo de Fondeo Directo
