extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu cliente #{client_name} ha rechazado tu factura #{invoice_number}, esto significa que no podrás publicarla en nuestro Market. #{client_name} ha indicado la siguiente razón en la no aprobación:

  p <div style='text-align: center;'>"#{reason}"</div>

  p Si tienes alguna duda al respecto, te recomendamos comunicarte directamente con tu cliente para resolverlo.
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Gracias.
  p El equipo de Fondeo Directo
