extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu proveedor #{company_name} ha subido una nueva factura a Fondeo Directo y solicitamos tu revisión. Puedes ver el detalle de la factura en cuestión en el siguiente enlace:

  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Detalle factura')
  |
  p Si todo está en orden con tu proveedor y su factura, selecciona la opción “aprobar” para que tu proveedor pueda publicar su factura en nuestro Market.

  p Al contrario, si algo no salió bien con esta factura en particular, puedes rechazarla e indicar el motivo, para que tu proveedor pueda realizar las correcciones correspondientes.


  p Gracias.
  p El equipo de Fondeo Directo


  p P.D. Si lo prefieres, copia y pega este enlace en la barra de direcciones de tu navegador:

  p #{webBaseUrl}/invoices/#{invoice_id}
