extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu factura #{invoice_number} ha expirado y ya no podrá mostrarse en nuestro Market.  Esto significa que la fecha de vencimiento ha pasado, por lo tanto ya no es candidata para fondeo.

  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte directamente a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.
  |
  p Gracias.
  p El equipo de Fondeo Directo
