extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p El pago de la factura #{invoice_number} de tu proveedor #{company_name} ha vencido.  Si ya realizaste el pago de la misma a Fondeo Directo, agradeceremos lo notifiques a través del siguiente botón, proporcionandonos el monto y la fecha en la que se realizó el depósito.
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Notificar pago')
  |
  p Si aún no lo realizas, te pedimos nos comuniques si existe algún problema, de lo contrario a partir de la fecha de vencimiento se comenzarán a generar intereses.

  p Si tienes alguna duda al respecto, te recomendamos comunicarte directamente a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.
  |
  p Gracias.
  p El equipo de Fondeo Directo
