extends ./layout/email

block emailContent
  include ./mixins/link
  
  p Estimado <b>#{username}</b>,
  p ¡Enhorabuena! Tenemos nuevas facturas en el Market.
  p No dejes ir esta oportunidad para invertir.

  p Da click en el botón y descubre lo que Fondeo Directo tiene para ti.

  +link(`${webBaseUrl}/marketplace?token=${token}`, 'Market')
  |
  p Atentamente,
  p El equipo de Fondeo Directo
