extends ./layout/email

block emailContent
  p Estimado <b>#{username}</b>,
  p 
  | Por este conducto te notificamos que los derechos de cobro de las Facturas de tu Proveedor: <b>#{nombre_proveedor}</b> que se detallan en el presente Anexo han sido cedidos en su totalidad a Plataforma 
  if mailerFlagFideicomiso
   | FIDEICOMISO PLATAFORMA FD 01/2018 en adelante “Fideicomiso”,
  else
   | FD, S.A.P.I. de C.V. en adelante “Fondeo Directo”,
  | en virtud de la celebración de operaciones de Factoraje entre ésta última y #{nombre_proveedor}.
  p 
  | Es importante señalar que las mencionadas Facturas tiene una fecha de pago indicada por la Sociedad Pagadora por lo que al llegar esta fecha, deberás realizar el pago de las mismas a 
  if mailerFlagFideicomiso
   | “Fideicomiso”.
  else
   | “Fondeo Directo”.
  p 
  | Relación de Facturas Cedidas a 
  if mailerFlagFideicomiso
   | Fideicomiso 
  else
   | Fondeo Directo 
  | por #{nombre_proveedor}:
  ul
    li No. de Factura: <b>#{invoice_number}</b>
    li Fecha de expedición: <b>#{fecha_expedicion}</b>
    li Fecha de pago establecida por la Sociedad Pagadora: <b>#{fecha_pago}</b>
  p 
  | Asimismo, te señalamos que el pago de las mencionadas Facturas deberá realizarse en la cuenta a nombre de 
  if mailerFlagFideicomiso
   | FIDEICOMISO PLATAFORMA FD 01/2018 
  else
   | Fondeo Directo 
  | que a continuación te indicamos:

  if mailerFlagFideicomiso
    ul
      li Titular: <b>FIDEICOMISO PLATAFORMA FD 01/2018</b>
      li Banco: <b>BANSI</b>
      li Cuenta: <b>00098971190</b>
      li CLABE: <b>060320000989711907</b>
  else
    ul
      li Titular: <b>PLATAFORMA FD S.A.P.I. DE C.V.</b>
      li Banco: <b>VE POR MAS</b>
      li Cuenta: <b>131675</b>
      li CLABE: <b>113180000001316759</b>

  p Una vez que se haya realizado el pago, deberás notificar a “Fondeo Directo”, a través de la Plataforma en el botón “Notificar pago” dentro del detalle de la factura, ó en su defecto a través de Mensaje de Datos a la dirección de correo electrónico legal@fondeodirecto.com.
  p Adjunto encontrarás un resumen de esta notificación.
  p De cualquier manera, quedamos a tus órdenes para cualquier duda o aclaración.
  p Atentamente,
  p Fernando Miramontes
