extends ./layout/email

block emailContent
  p Estimado <b>#{username}</b>,
  p El día #{requested_at.day} de #{requested_at.month} del presente a las #{requested_at.time} hrs. recibimos instrucción para que, con tus propios recursos, y, a tu nombre, celebremos la operación de factoraje señalada en el adjunto.
  p Anexo a este correo encontrarás copia de dicha instrucción.
  p La instrucción está sujeta a (y perfecciona) los Términos descritos en el Contrato de Comisión Mercantil firmado al iniciar operaciones en la Plataforma de Fondeo Directo.
  p De cualquier manera, quedamos a tus órdenes para cualquier duda o aclaración.
  p Atentamente,
  p El equipo de Fondeo Directo
