extends ./layout/email

block emailContent
  p Estimado <b>#{username}</b>,
  p El día #{approved_at.day} de #{approved_at.month} del presente a las #{approved_at.time} recibimos de la Plataforma Fondeo Directo la indicación de tu aprobación respecto de las facturas que aparecen en el cuadro a continuación. Al haber realizado dicha aprobación, reconociste y aceptaste los Derechos de Crédito a favor de su correspondiente proveedor. Por lo tanto, Fondeo Directo procederá a buscar fondeo para que el pago de estas facturas sean realizados tan pronto como sea posible y de ser así recibirás una notificación vía correo.
  p Anexo a este correo encontrarás una relación de las facturas aprobadas.
  p Quedamos a tus órdenes para cualquier duda o aclaración.
  p Atentamente,
  p Fernando Miramontes
  |
  div.invoices-table-container
    table.invoices-table
      tr
        th Proveedor
        th Factura
        th Folio Fiscal
        th Monto
      tr
      each invoice in invoices
        tr
          td #{invoice.business_name}
          td #{invoice.number}
          td #{invoice.uuid}
          td $#{invoice.total.toFixed(2)}
        tr
