extends ./layout/email

block emailContent
  p Estimado <b>#{username}</b>,
  p El día #{published_at.day} de #{published_at.month} del presente a las #{published_at.time} hr recibimos INSTRUCCIÓN en el Market de Fondeo Directo para celebrar operaciones de factoraje y buscar adelanto de pago de las facturas señaladas en el documento adjunto.

  if user_role === 'CXC'
    p Cabe señalar que al recibir el pago de cualquiera de estas facturas, cederás a Fondeo Directo los derechos de cobro correspondientes; por lo tanto, el acreedor pagará directamente a Fondeo Directo el monto total de todas y cada una de las facturas fondeadas.
    p Anexo a este correo encontrarás copia de la INSTRUCCIÓN, la cual está sujeta (y perfecciona) los Términos descritos en el Contrato de Factoraje firmado al iniciar operaciones en la Plataforma de Fondeo Directo.

  p De cualquier manera, quedamos a tus órdenes para cualquier duda o aclaración.
  p Atentamente,
  p Fernando Miramontes
