extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola, <b>#{username}</b>:
  p Te confirmamos que se ha cambiado la contraseña de tu cuenta de Fondeo Directo exitosamente.
  p Si tú no hiciste este cambio, #[a.btn(href=`${webBaseUrl}/recovery-password?email=${email}`, style='color: #5a52ff;') recupera tu contraseña aquí].
  |
  p Gracias,
  p El equipo de Fondeo Directo
  |
  p <small><i><b>Tip de seguridad:</b> Si tu no realizaste este cambio, puede ser que alguien más tenga acceso a tu cuenta de correo electrónico. Te recomendamos que por seguridad también actualices la contraseña de tu cuenta de correo.</i></small>
