extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu factura #{invoice_number} se ha removido de nuestro Market, esto significa que ya no estará disponible para nuestra comunidad de fondeadores.

  p Tu Factura fue removida por la siguiente razón:
  |
  p “ #{reason} ”
  |
  p Si tienes alguna duda al respecto, te recomendamos comunicarte directamente a nuestro <a href='mailto:soporte@fondeodirecto.com' target='_blank' style='color: #5a52ff;'>centro de soporte</a>.

  p Recuerda que puedes publicar tu factura de nuevo en nuestro Market, siempre y cuando sea antes de la fecha de pago programada por tu cliente.
  |
  +link(`${webBaseUrl}/invoices/${invoice_id}`, 'Ver factura')
  |
  p Gracias.
  p El equipo de Fondeo Directo
