extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola, <b>#{username}</b>:
  p Recientemente, alguien solicitó cambiar la contraseña de tu cuenta de Fondeo Directo. Si solicitaste el cambio, puedes crear una nueva contraseña aquí:

  +link(`${webBaseUrl}/reset-password/${token}`, 'Recuperar contraseña')
  |
  p Si no quieres cambiar tu contraseña o no solicitaste hacerlo, ignora y elimina este mensaje.
  p Para proteger tu cuenta, no reenvíes este mensaje a otras personas.

  p El equipo de Fondeo Directo
