extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p #{company_name} ha solicitado un retiro de fondos a Fondeo Directo y solicitamos tu revisión. Puedes revisar la solicitud en la sección “Modificaciones de saldo pendientes” en el siguiente enlace:
  |
  +link(`${webBaseUrl}/investors/${company_id}`, 'Ver detalle')
  |
  p Si todo está en orden y el saldo del inversionista es suficiente para cubrir el retiro y no tiene fondeos pendientes, selecciona la opción “aprobar” una vez realizada la transferencia, para que el saldo del inversionista se actualice.

  p Al contrario, si algo no está bien, puedes rechazarla e indicar el motivo, para que el inversionista pueda realizar las correcciones correspondientes.

  p Gracias.
  p El equipo de Fondeo Directo


  p P.D. Si lo prefieres, copia y pega este enlace en la barra de direcciones de tu navegador:

  p #{webBaseUrl}/investors/#{company_id}
