extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola,

  p Tu retiro ha sido procesado correctamente y se ha reflejado en el saldo de tu cuenta.
  p Recuerda seguir Fondeando más facturas y así generar más ganancias a través de Fondeo Directo.


  +link(`${webBaseUrl}/marketplace`, 'Marketplace')
  |
  p Gracias.
  p El equipo de Fondeo Directo
