mixin link(href, name)
  a.btn(href=href, style='display: block; border-radius: 10px; margin: 20px 0; background-color: #5a52ff; color: #fff; text-transform: uppercase; text-align: center; padding: 12px 30px; text-decoration: none;')= name
mixin smallLink(href, name)
  a.btn(href=href, style='display: block; border-radius: 5px; margin: 6px 4px; background-color: #5a52ff; color: #fff; text-transform: uppercase; text-align: center; padding: 10px 18px; text-decoration: none;')= name
