<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: lower-latin;
}
.reset {
  padding: 0;
}
li ~ li {
  margin-top: 1em;
}
</style>
<p><b>CONTRATO DE FACTORAJE EN LO SUCESIVO EL &ldquo;CONTRATO&rdquo;, QUE CELEBRAN POR UNA PARTE PLATAFORMA FD, S.A.P.I. DE C.V., EN LO SUCESIVO &ldquo;FONDEO DIRECTO&rdquo; REPRESENTADA EN ESTE ACTO POR FERNANDO MIRAMONTES, Y POR OTRA PARTE [FACTORAJE_FIRMANTE_EMPRESA] EN LO SUCESIVO &ldquo;PROVEEDOR&rdquo;, REPRESENTADA EN ESTE ACTO POR [FACTORAJE_FIRMANTE_NOMBRE] Y A QUIENES DE MANERA CONJUNTA SE LES DENOMINAR&Aacute; COMO &ldquo;LAS PARTES&rdquo;, DE CONFORMIDAD CON LAS SIGUIENTES DECLARACIONES, DEFINICIONES, Y CL&Aacute;USULAS:</b></p>
<p align="center"><b>DECLARACIONES</b></p>
<ol class="roman" start="1">
<li><b>DECLARA FONDEO DIRECTO A TRAV&Eacute;S DE SU REPRESENTANTE LEGAL QUE:</b></li>
</ol>
<ol class="latin" start="1">
<li>Que es una Sociedad An&oacute;nima Promotora de Inversi&oacute;n de Capital Variable, constituida de conformidad con las leyes mexicanas, que su representante legal cuenta con capacidad legal y facultades suficientes para celebrar el presente Contrato las cuales no le han sido revocadas, modificadas, ni limitadas en forma alguna al momento de la firma del presente.</li>
<li>Que cuenta con las facultades suficientes para actuar en el presente a trav&eacute;s de su representante legal en su propio nombre y a cuenta del Inversionista siguiendo las instrucciones que &eacute;ste le ha indicado. </li>
<li>Que en ning&uacute;n momento ha realizado ninguna actividad, solicitud, ofrecimiento o promoci&oacute;n para la captaci&oacute;n de recursos seg&uacute;n se define en la Ley de Instituciones de Cr&eacute;dito.</li>
<li>Que por ning&uacute;n motivo y bajo ninguna causa o circunstancia ser&aacute; obligado solidario, aval o titular de la obligaci&oacute;n del pago o los pagos que deban hacer los Proveedores, las Sociedades Pagadoras, Inversionistas, deudores o cualquier tercero relacionado con las operaciones motivos del presente Contrato. </li>
<li>Que es titular leg&iacute;timo y propietario de la Plataforma ubicada en la direcci&oacute;n electr&oacute;nica www.fondeodirecto.com mediante la cual se lleva a cabo la celebraci&oacute;n del presente Contrato.</li>
<li>Que para todo lo relacionado con el presente Contrato su correo electr&oacute;nico es: legal@fondeodirecto.com.</li>
</ol>
<ol class="roman" start="2">
<li><b>DECLARA EL PROVEEDOR A TRAV&Eacute;S DE SU REPRESENTANTE LEGAL QUE: </b></li>
</ol>
<ol class="latin" start="1">
<li>Que es una persona moral debidamente constituida de conformidad con las leyes mexicanas y que su representante legal cuenta con las facultades suficientes para celebrar el presente Contrato, as&iacute; como para asumir y dar cumplimiento a las obligaciones que se establecen en el presente Contrato y sus accesorios, actuando a nombre y cuenta propia.</li>
<li>Que ha manifestado su voluntad de celebrar este Contrato al realizar su Registro a trav&eacute;s de la Plataforma de FONDEO DIRECTO as&iacute; como al firmar con su Firma Electr&oacute;nica el presente contrato y por ende reconoce que ha revisado, conoce y acepta todos los t&eacute;rminos y condiciones, avisos legales y cualquier otra cl&aacute;usula, declaraci&oacute;n, derecho y/o obligaci&oacute;n que se contenga en el presente Contrato y/o en la referida Plataforma.</li>
<li>Que con motivo de la proveedur&iacute;a regular de bienes y/o servicios que presta por raz&oacute;n de su actividad, se originan Derechos de Cr&eacute;dito a su favor y a cargo de terceros denominados para este acto SOCIEDADES PAGADORAS.</li>
<li>Que es su deseo celebrar Operaciones de factoraje con FONDEO DIRECTO a trav&eacute;s de la mencionada Plataforma y que para tal efecto FONDEO DIRECTO ha puesto a su disposici&oacute;n la Gu&iacute;a de la Plataforma, el cual conoce, acepta y entiende.</li>
<li>Que los Documentos de los cuales se deriven los Derechos de Cr&eacute;dito a su favor son de su propiedad exclusiva y no tienen grav&aacute;menes, embargos o limitaciones de dominio ni han sido cedidos, transmitidos o gravados con o sin fines de financiamiento ni dados en garant&iacute;a, pignorados o gravados a favor de terceros, por lo que garantiza la existencia y legitimidad de los Derechos de Cr&eacute;dito objeto del presente Contrato.</li>
<li>Que con objeto de contar con recursos oportunos desea celebrar con FONDEO DIRECTO el presente Contrato para efecto de realizar Operaciones de Factoraje a trav&eacute;s de la mencionada plataforma de FONDEO DIRECTO o en su caso de manera documental.</li>
</ol>
<p align="center"><b>DEFINICIONES</b></p>
<p>Los t&eacute;rminos que se utilizan dentro de este Contrato, tendr&aacute;n los significados que a continuaci&oacute;n las Partes les atribuyen, en el entendido de que ser&aacute;n igualmente aplicables en su forma singular o plural, masculino &oacute; femenino: </p>
<p><b>&ldquo;Aprobaci&oacute;n&rdquo;:</b> Proceso mediante el cual los Derechos de Cr&eacute;dito a favor del PROVEEDOR, son reconocidos, aceptados y autorizados por la SOCIEDAD PAGADORA, mediante el ingreso a la Plataforma de una fecha de pago total de los Documentos matera de las operaciones de factoraje que se pretenden celebrar entre el PROVEEDOR y FONDEO DIRECTO.</p>
<p><b>&ldquo;Contrase&ntilde;a&rdquo;:</b> Conjunto de n&uacute;meros y/o letras, individual y confidencial, el cual ser&aacute; generado por el PROVEEDOR o por sus Usuarios Autorizados y con el cual se confirma el Registro y se les permite el acceso a la Plataforma.</p>
<p><b>&ldquo;Derechos De Cr&eacute;dito&rdquo;:</b> Facultad o potestad jur&iacute;dica del PROVEEDOR a exigir de LA SOCIEDAD PAGADORA el pago de una cantidad v&aacute;lida, cierta, liquida, exigible, determinada o determinable de dinero, la cual deber&aacute; constar en los Documentos.</p>
<p><b>&ldquo;Documentos&rdquo;:</b> Facturas o porci&oacute;n de las mismas en formato Extensible Markup Language, mejor conocido como &ldquo;XML&rdquo;, que emite y proporciona el PROVEEDOR, en las cu&aacute;les se hacen constar los Derechos de Cr&eacute;dito a su favor, mismos que podr&aacute;n ser materia de factoraje con FONDEO DIRECTO, previa Aprobaci&oacute;n de las SOCIEDADES PAGADORAS.</p>
<p><b>&ldquo;D&iacute;a H&aacute;bil&rdquo;:</b> Significan los d&iacute;as en que FONDEO DIRECTO realiza sus actividades en un horario de lunes a viernes de 9:00 am a 5:00 pm horario del centro de M&eacute;xico, por lo que no se considerar&aacute;n como d&iacute;as h&aacute;biles los fines de semana, ni los d&iacute;as festivos oficiales de conformidad con el calendario para las Entidades Financieras publicado a trav&eacute;s de las Disposiciones de Car&aacute;cter General emitidas por la Comisi&oacute;n Nacional Bancaria y de Valores.</p>
<p><b>&ldquo;Sociedad Pagadora&rdquo;:</b> Es quien recibe los productos y/o servicios que el PROVEEDOR le proporciona, teniendo la obligaci&oacute;n de pago a este &uacute;ltimo, por una cantidad v&aacute;lida, cierta, liquida, exigible, determinada o determinable de dinero.</p>
<p><b>&ldquo;Contrato y/o Operaciones de Factoraje&rdquo;:</b> Proceso mediante el cual FONDEO DIRECTO en virtud de una comisi&oacute;n mercantil en su car&aacute;cter de comisionista o por su propio derecho, adquiere los Derechos de Cr&eacute;dito vigentes que tenga el PROVEEDOR a su favor, tambi&eacute;n se encuentran incluidos en esta definici&oacute;n los Adendum y Anexos de los Contrato de Factoraje.</p>
<p><b>&ldquo;Fecha de Pago&rdquo;:</b> Es la fecha pactada en cada Documento y que las partes acuerdan por cada operaci&oacute;n de Factoraje, misma que ser&aacute; fijada por la SOCIEDAD PAGADORA al momento de aprobar el Documento en la Plataforma de FONDEO DIRECTO.</p>
<p><b>&ldquo;Firma Electr&oacute;nica&rdquo;:</b> Son los datos en forma electr&oacute;nica consignados en un Mensaje de Datos, o adjuntados o l&oacute;gicamente asociados al mismo por cualquier tecnolog&iacute;a, que son utilizados para identificar al Firmante en relaci&oacute;n con el Mensaje de Datos e indicar que el Firmante aprueba la informaci&oacute;n contenida en el Mensaje de Datos, y que produce los mismos efectos jur&iacute;dicos que la firma aut&oacute;grafa, siendo admisible como prueba en juicio.</p>
<p><b>&ldquo;Inversionista&rdquo;:</b> Es quien aporta los Recursos en la Plataforma en su car&aacute;cter de comitente en virtud de una comisi&oacute;n mercantil previamente celebrada con FONDEO DIRECTO, o bien, este &uacute;ltimo por su propio derecho para aportar los citados Recursos, en ambos casos, con la finalidad de celebrar Contratos y/o Operaciones de Factoraje y por consecuencia adquirir los Derechos de Cr&eacute;dito de los Documentos en todo o en parte.</p>
<p><b>&ldquo;Proveedor &oacute; Factorado&rdquo;:</b> Es la Persona f&iacute;sica o moral que pone a la venta Derechos de Cr&eacute;dito de Documentos que tiene a su favor. </p>
<p><b>&ldquo;Factorante &oacute; Fondeo Directo&rdquo;:</b> Es quien adquiere Derechos de Cr&eacute;dito propiedad del Proveedor &oacute; Factorado.</p>
<p><b>&ldquo;Medios Electr&oacute;nicos&rdquo;:</b> Son los dispositivos tecnol&oacute;gicos que ser&aacute;n utilizados para el procesamiento, despliegue, conservaci&oacute;n y, en su caso, modificaci&oacute;n de informaci&oacute;n.</p>
<p><b>&ldquo;Mensaje de Datos&rdquo;:</b> Es toda aquella informaci&oacute;n generada, enviada, recibida, archivada o comunicada a trav&eacute;s de medios electr&oacute;nicos.</p>
<p><b>&ldquo;Nombre de Usuario&rdquo;:</b> Es la denominaci&oacute;n asignada a un Usuario registrado en la plataforma, el cual es &uacute;nico e intransferible.</p>
<p><b>&ldquo;Plataforma&rdquo;:</b> Conjunto de procedimientos y reglas creados, adaptados, y/o utilizados por FONDEO DIRECTO para permitir que los INVERSIONISTAS, PROVEEDORES y SOCIEDADES PAGADORAS participen en las Operaciones de Factoraje. </p>
<p><b>&ldquo;Recursos&rdquo;:</b> Es la cantidad en dinero aportada por el INVERSIONISTA mediante una Transferencia Electr&oacute;nica de Fondos &ldquo;TEF&rdquo;, o mediante Sistema de Pagos Electr&oacute;nicos Interbancarios &ldquo;SPEI&rdquo; o cualquier otro sistema de pago con la finalidad de celebrar operaciones de factoraje a trav&eacute;s de la Plataforma.</p>
<p><b>&ldquo;Registro&rdquo;:</b> Proceso que el PROVEEDOR deber&aacute; de realizar de manera conjunta con FONDEO DIRECTO para poder utilizar la Plataforma de FONDEO DIRECTO.</p>
<p><b>&ldquo;Reserva:</b> Es la cantidad que es retenida al PROVEEDOR por FONDEO DIRECTO antes de llevar a cabo las Operaciones de Factoraje, la cual se va a un fondo en calidad de garant&iacute;a y es devuelta por FONDEO DIRECTO al PROVEEDOR una vez que la SOCIEDAD PAGADORA pague el total del importe del documento objeto del factoraje a FONDEO DIRECTO.</p>
<p><b>&ldquo;Usuario&rdquo;:</b> Es la persona que ha completado el procedimiento de registro e identificaci&oacute;n de acuerdo a los requisitos establecidos por FONDEO DIRECTO conforme a su perfil y al cual se le genera un nombre de identificaci&oacute;n mismo que le permitir&aacute; la realizaci&oacute;n de operaciones dentro de la Plataforma. </p>
<p>Expuesto lo anterior, las partes se reconocen mutuamente la personalidad con la que act&uacute;an y no habiendo mala fe, dolo y/o error en su voluntad, convienen en otorgar las siguientes:</p>
<p align="center"><b>CL&Aacute;USULAS:</b></p>
<ol class="reset" start="1">
<li><b>FACTORAJE</b></li>
</ol>
<p><b><u>PRIMERA. OBJETO DEL CONTRATO.</u></b>  El objeto del presente Contrato es establecer los t&eacute;rminos y condiciones en los cuales FONDEO DIRECTO en su car&aacute;cter de Comisionista de los INVERSIONISTAS o por cuenta propia, podr&aacute; adquirir los Derechos de Cr&eacute;dito que el PROVEEDOR tenga a su favor derivados de los Documentos debidamente cargados en la Plataforma, mismos que deber&aacute;n estar plenamente identificados y aprobados por la SOCIEDAD PAGADORA, por los cuales FONDEO DIRECTO pagar&aacute; al PROVEEDOR una cantidad determinada conforme a lo establecido en la cl&aacute;usula QUINTA del presente contrato de factoraje.</p>
<p>Las partes acuerdan que FONDEO DIRECTO en su car&aacute;cter de comisionista podr&aacute; adquirir en su propio nombre y por cuenta de uno o diversos INVERSIONISTAS los Derechos de Cr&eacute;dito que el PROVEEDOR tenga a su favor derivados de los Documentos cargados en la Plataforma previamente aprobados por la SOCIEDAD PAGADORA, </p>
<p><b><u>SEGUNDA. REQUISITOS DE LOS DOCUMENTOS Y DERECHOS DE CR&Eacute;DITO DERIVADOS DE LOS DOCUMENTOS MATERIA DE LAS OPERACIONES DE FACTORAJE.</u></b> El PROVEEDOR se obliga y garantiza a FONDEO DIRECTO que todos los Derechos de Cr&eacute;dito contenidos en los Documentos de los cuales se pretendan celebrar operaciones de factoraje reunir&aacute;n los siguientes requisitos: </p>
<ol start="1">
<li>Solo se podr&aacute;n transmitir en factoraje Derechos de Cr&eacute;dito derivados de los Documentos que sean exigibles, legalmente existentes y no vencidos otorgados a favor del PROVEEDOR con motivo de la proveedur&iacute;a regular de bienes y/o servicios que realiza por virtud de su actividad.</li>
<li>Los Derechos de Cr&eacute;dito derivados de los Documentos materia de las operaciones de factoraje deber&aacute;n estar a favor del PROVEEDOR y ser debidamente aprobados para este fin por la SOCIEDAD PAGADORA, as&iacute; como estar libres de todo gravamen.</li>
<li>Los Documentos deber&aacute;n estar determinados en pesos mexicanos (&ldquo;MXN&rdquo;) o d&oacute;lares americanos (&ldquo;USD&rdquo;), deber&aacute;n reunir los requisitos fiscales aplicables que garanticen su existencia y la legalidad de dichos Derechos de Cr&eacute;dito, los cuales, salvo autorizaci&oacute;n expresa de FONDEO DIRECTO, deber&aacute;n ser pagaderos por la SOCIEDAD PAGADORA en una sola exhibici&oacute;n.</li>
<li>FONDEO DIRECTO se reserva el derecho en todo momento y sin necesidad de aviso previo de aceptar &uacute;nicamente Documentos determinados en Moneda Nacional (MXN).</li>
<li>Los Documentos deber&aacute;n contar con los nombres, denominaciones, o razones sociales del PROVEEDOR y de la SOCIEDAD PAGADORA, as&iacute; como los datos necesarios para identificarlos, sus importes y sus fechas de vencimiento, y la Fecha de Pago establecida por la SOCIEDAD PAGADORA y notificada por &eacute;sta a FONDEO DIRECTO, dichos Documentos quedar&aacute;n efectivamente enlistados en la Plataforma de Fondeo Directo, permitiendo a LAS PARTES tener el hist&oacute;rico de los Documentos objeto del Factoraje.</li>
<li>Los Derechos de Cr&eacute;dito derivados de los Documentos deber&aacute;n estar libres de cualquier tipo de gravamen, cesi&oacute;n o acto de cualquier especie que limite la propiedad del PROVEEDOR para efectos de llevar a cabo las Operaciones de Factoraje respecto de dichos Documentos. </li>
<li>Una vez celebradas las Operaciones de Factoraje de los Documentos y por consiguiente de sus Derechos de Cr&eacute;dito, el PROVEEDOR no podr&aacute; de ninguna forma cederlos, transmitirlos, pignorarlos, &uacute; otorgarlos en garant&iacute;a a favor de terceros, ni limitar de cualquier forma la propiedad de FONDEO DIRECTO respecto de dichos Documentos.</li>
</ol>
<p><b><u>TERCERA. CONDICIONES Y REQUISITOS PARA LAS OPERACIONES DE FACTORAJE.</u></b> La realizaci&oacute;n de las operaciones de factoraje previstas en el presente acuerdo de voluntades, estar&aacute;n sujetas a las siguientes condiciones y requisitos, en el entendido de que FONDEO DIRECTO a su entera discreci&oacute;n y sin notificaci&oacute;n previa al PROVEEDOR podr&aacute; establecer nuevas condiciones o modificar los ya existentes:</p>
<ol start="1">
<li>Antes de que el PROVEEDOR pueda subir a la plataforma de Fondeo Directo los Documentos para la celebraci&oacute;n de operaciones de factoraje, &eacute;ste deber&aacute; estar registrado en dicha plataforma y obtener su Usuario y Contrase&ntilde;a.</li>
<li>La SOCIEDAD PAGADORA ser&aacute; previamente consultada por FONDEO DIRECTO quien validar&aacute; y aprobar&aacute; que el PROVEEDOR pueda ceder los Derechos de Cr&eacute;dito derivados de los Documentos, as&iacute; mismo LA SOCIEDAD PAGADORA establecer&aacute; la fecha de pago de los mismos.</li>
<li>FONDEO DIRECTO a su entera discreci&oacute;n y sin notificaci&oacute;n, podr&aacute; se&ntilde;alar y modificar en todo tiempo los requisitos que deber&aacute;n reunir los Documentos para ser objeto de las Operaciones de Factoraje materia del presente Contrato, los cuales de manera enunciativa m&aacute;s no limitativa pueden ser: </li>
</ol>
<p>a) Tipo de moneda en que la que se determinen los Documentos</p>
<p>b) El l&iacute;mite de Documentos a cargo del mismo PROVEEDOR que est&eacute; dispuesto a adquirir. </p>
<p>c) El importe m&aacute;ximo que deber&aacute; consignar cualquier Documento.</p>
<p>d) El plazo m&aacute;ximo de vencimiento de cualquier Documento. </p>
<p>e) La forma y requisitos que deber&aacute;n reunir los Documentos.</p>
<ol start="4">
<li>Las Operaciones de Factoraje respecto de los Documentos estar&aacute;n sujetas a la aprobaci&oacute;n de la SOCIEDAD PAGADORA y disponibilidad de Recursos de los INVERSIONISTAS, por lo que FONDEO DIRECTO podr&aacute; a su plena discrecionalidad fondear o no los Documentos. </li>
<li>El PROVEEDOR en este acto acepta y reconoce que la celebraci&oacute;n de las operaciones de factoraje tiene un &ldquo;costo financiero&rdquo; mismo que se encontrar&aacute; detallado en la plataforma como &ldquo;costo financiero&rdquo;, por lo que al momento de que el PROVEEDOR acepta a trav&eacute;s de la plataforma celebrar la operaci&oacute;n de factoraje, se entender&aacute; que acepta su obligaci&oacute;n de pagar a FONDEO DIRECTO el costo financiero asociado con dicha operaci&oacute;n, el cual ser&aacute; descontado del precio del Documento por FONDEO DIRECTO. </li>
<li>El PROVEEDOR se abstendr&aacute; de presentar para las Operaciones de Factoraje cualquier Documento respecto del cual tenga conocimiento de la existencia de alguna situaci&oacute;n que afecte o pueda afectar la capacidad econ&oacute;mica de pago total y oportuno del mismo por parte de LA SOCIEDAD PAGADORA.</li>
<li>Los bienes o servicios prestados por el PROVEEDOR que originen los Derechos de Cr&eacute;dito de cada Documento deber&aacute;n haber sido entregados a la SOCIEDAD PAGADORA a su entera satisfacci&oacute;n de tal manera que no deber&aacute; existir ninguna reclamaci&oacute;n o controversia con respecto a las obligaciones que consten en dichos Documentos.</li>
<li>FONDEO DIRECTO podr&aacute; realizar las investigaciones que juzgue necesarias con las sociedades de informaci&oacute;n crediticia respecto del PROVEEDOR y respecto de la SOCIEDAD PAGADORA. </li>
</ol>
<p><b><u>CUARTA. MEC&Aacute;NICA OPERATIVA DEL FACTORAJE.</u></b> FONDEO DIRECTO podr&aacute; adquirir los Documentos que contengan Derechos de Cr&eacute;dito a favor del PROVEEDOR y a cargo de la SOCIEDAD PAGADORA, con sujeci&oacute;n al siguiente procedimiento: </p>
<ol start="1">
<li>El PROVEEDOR deber&aacute; registrarse en la plataforma a trav&eacute;s del llenado de una solicitud que FONDEO DIRECTO har&aacute; disponible a trav&eacute;s de Medios Electr&oacute;nicos, una vez que el PROVEEDOR llene la solicitud, FONDEO DIRECTO completar&aacute; el registro y enviar&aacute; una liga electr&oacute;nica al correo del PROVEEDOR, para efecto de que el PROVEEDOR acceda y proceda a crear una Contrase&ntilde;a la cual en conjunto con su correo electr&oacute;nico identificaran al PROVEEDOR como Usuario y le dar&aacute; acceso a La Plataforma.</li>
<li>El PROVEEDOR podr&aacute; a su entera discreci&oacute;n subir a la Plataforma los Documentos que &eacute;l considere siempre y cuando los mismos cumplan con los requisitos se&ntilde;alados en la cl&aacute;usula SEGUNDA del presente contrato, as&iacute; mismo deber&aacute; seleccionar de entre dichos Documentos los que desee realizar Operaciones de Factoraje al amparo de lo establecido en el presente Contrato.</li>
<li>El PROVEEDOR no podr&aacute; exigir pago alguno a FONDEO DIRECTO respecto de los Documentos que haya subido a la plataforma sin ser previamente Operados en Factoraje, ni podr&aacute; oponer en contra de esta disposici&oacute;n excepci&oacute;n alguna para exigir el pago, por lo que el PROVEEDOR en este acto manifiesta estar de acuerdo en que <u>no ser&aacute; Obligaci&oacute;n de FONDEO DIRECTO celebrar Operaciones de Factoraje respecto de todos los Documentos que el PROVEEDOR suba a La Plataforma</u>, por lo que FONDEO DIRECTO a su entera discreci&oacute;n podr&aacute; elegir de entre dichos Documentos los que considere mejor opci&oacute;n para realizar Operaciones de Factoraje y &uacute;nicamente despu&eacute;s de realizar la Operaci&oacute;n de Factoraje tendr&aacute; la obligaci&oacute;n de pagar al PROVEEDOR el precio pactado por cada Documentos operado.</li>
<li>Los Documentos deber&aacute;n ser subidos a la plataforma por el PROVEEDOR en formato XML validadas y foliadas por el SAT. Es obligaci&oacute;n del PROVEEDOR verificar que los Documentos han sido subidos a la Plataforma de manera correcta.</li>
<li>Una vez que la SOCIEDAD PAGADORA apruebe los Documentos estos estar&aacute;n disponibles para su factoraje. </li>
<li>La SOCIEDAD PAGADORA al momento de aprobar los documentos deber&aacute; ingresar la Fecha de Pago de los mismos, por lo que es en este momento en t&eacute;rminos del presente Contrato cuando la SOCIEDAD PAGADORA reconoce la validez, existencia y entrega de los productos o servicios detallados en el Documento.</li>
<li>Se enviar&aacute; un Mensaje de Datos al PROVEEDOR para notificarle la Aprobaci&oacute;n o rechazo del Documento por parte de la SOCIEDAD PAGADORA. En el caso de que dicho rechazo obedezca a alguna conducta irregular, FONDEO DIRECTO tomar&aacute; las acciones legales que juzgue convenientes.</li>
<li>Una vez realizado lo anterior, FONDEO DIRECTO especificar&aacute; al PROVEEDOR respecto de cada Documento que se pretendan transmitir en Factoraje, el detalle, el Costo Financiero, el Descuento, la Reserva requerida, las garant&iacute;as solicitadas y la Fecha de Pago.</li>
<li>El PROVEEDOR aceptar&aacute; o rechazar&aacute; en la Plataforma a trav&eacute;s de su Firma Electr&oacute;nica, los t&eacute;rminos, condiciones y costos aplicables, conforme lo establecido en el presente Contrato.</li>
<li>Una vez que el PROVEEDOR acepte en la plataforma los t&eacute;rminos y condiciones para la celebraci&oacute;n de la operaci&oacute;n de factoraje respectiva, &eacute;ste adicionalmente suscribir&aacute; un Pagar&eacute; Electr&oacute;nico a favor de FONDEO DIRECTO, de conformidad a lo establecido en la Cl&aacute;usula D&Eacute;CIMA del presente Contrato para efectos de garantizar el pago de los Documentos por parte de la SOCIEDAD PAGADORA, sin perjuicio de que FONDEO DIRECTO pueda adicionalmente requerir en garant&iacute;a otro Documento al PROVEEDOR o directamente a la SOCIEDAD PAGADORA.</li>
<li>FONDEO DIRECTO notificar&aacute; al PROVEEDOR y a la SOCIEDAD PAGADORA a trav&eacute;s de la Plataforma &oacute; a trav&eacute;s de Mensaje de Datos cuando haya realizado el fondeo del Documento materia de la operaci&oacute;n de factoraje y por consiguiente la transmisi&oacute;n de los Derechos de Cr&eacute;dito a favor de FONDEO DIRECTO en su calidad de Comisionista de uno o varios INVERSIONISTAS, por lo que desde el momento de dicha notificaci&oacute;n la SOCIEDAD PAGADORA quedar&aacute; obligada a pagar el importe del Documento objeto de la operaci&oacute;n del factoraje directamente a FONDEO DIRECTO y el PROVEEDOR no podr&aacute; por ning&uacute;n motivo buscar o solicitar directamente a la SOCIEDAD PAGADORA dicho pago.</li>
</ol>
<p><u>Las partes acuerdan que las especificaciones de los Documentos que se pretendan transmitir, conjuntamente con la aceptaci&oacute;n del PROVEEDOR de conformidad con los puntos 8 y 9 de la presente cl&aacute;usula, ser&aacute;n detallados en el <b>Anexo &ldquo;A&rdquo;</b> del presente acuerdo de voluntades, y ser&aacute;n identificados con n&uacute;meros consecutivos, ejemplo Anexo &ldquo;A&rdquo; (N&uacute;mero 1), Anexo &ldquo;A&rdquo; (n&uacute;mero 2), Anexo &ldquo;A&rdquo; (n&uacute;mero 3) y as&iacute; sucesivamente.</u></p>
<p><b><u>QUINTA. PROCEDIMIENTO PARA REALIZAR EL PAGO DEL PRECIO DE LAS OPERACIONES DE FACTORAJE.</u></b> LAS PARTES acuerdan que por la transmisi&oacute;n en Factoraje de los Derechos de Cr&eacute;dito derivados de los Documentos FONDEO DIRECTO pagar&aacute; al PROVEEDOR las cantidades previamente determinadas de conformidad a la mec&aacute;nica establecida en la cl&aacute;usula CUARTA del presente contrato, y dicho pago deber&aacute; realizarse de conformidad a lo siguiente:</p>
<p>EL PROVEEDOR enviar&aacute; una factura por el costo financiero a FONDEO DIRECTO, una vez recibida esta factura, FONDEO DIRECTO transferir&aacute; electr&oacute;nicamente el monto del valor neto acordado en la Plataforma en la cuenta que el PROVEEDOR proporcion&oacute; a FONDEO DIRECTO al momento del Registro, en un plazo m&aacute;ximo de 2 (dos) d&iacute;as h&aacute;biles, misma que se encontrar&aacute; se&ntilde;alada en el <b>Anexo &ldquo;G&rdquo;</b> del presente Contrato.</p>
<p>En relaci&oacute;n a lo se&ntilde;alado en el p&aacute;rrafo anterior, LAS PARTES acuerdan que el valor neto de las operaciones lo constituye el precio de los Documentos menos el costo financiero y monto de la Reserva.</p>
<p><b><u>SEXTA. DEVOLUCI&Oacute;N DEL IMPORTE DE LA RESERVA.</u></b> LAS PARTES acuerdan que llegada la fecha de pago de los Documentos materia de las Operaciones de Factoraje establecida por la SOCIEDAD PAGADORA, &eacute;sta liquidar&aacute; el monto del o los Documentos a FONDEO DIRECTO y este &uacute;ltimo proceder&aacute; a devolver al PROVEEDOR, en un plazo m&aacute;ximo de (2) dos d&iacute;as h&aacute;biles, el monto de la Reserva, siempre y cuando se cumplan las siguientes condiciones:</p>
<ol class="latin" start="1">
<li>Que la liquidaci&oacute;n o pago total de los Documentos se haya hecho en tiempo y forma.</li>
<li>Que no existan descuentos o ajustes de cualquier tipo al importe total del precio determinado por LAS PARTES para el o los Documentos materia de las Operaciones de Factoraje.</li>
</ol>
<p><b><u>S&Eacute;PTIMA. OBLIGACI&Oacute;N SOLIDARIA.</u></b> El PROVEEDOR est&aacute; de acuerdo en constituirse desde este momento como obligado solidario a favor de FONDEO DIRECTO, respecto de todas y cada una de las obligaciones de pago a cargo de la SOCIEDAD PAGADORA derivadas de los Documentos materia de las Operaciones de Factoraje, oblig&aacute;ndose a pagar a FONDEO DIRECTO las cantidades pendientes de pago a cargo de la SOCIEDAD PAGADORA en los t&eacute;rminos establecidos en el presente Contrato. Esto en cumplimiento con lo establecido en los art&iacute;culos 419 fracci&oacute;n II y 422 de la Ley General de T&iacute;tulos y Operaciones de Cr&eacute;dito.</p>
<p>En raz&oacute;n de lo anterior, LAS PARTES acuerdan que en el caso de que haya transcurrido un periodo de 10 (diez) d&iacute;as naturales posteriores a la fecha establecida por la SOCIEDAD PAGADORA para el pago del o los Documentos materia de las Operaciones de Factoraje sin que &eacute;sta &uacute;ltima hubiese realizado el pago a FONDEO DIRECTO del total de los importes de los referidos Documentos, el PROVEEDOR deber&aacute; cubrir el monto total de los Documentos a FONDEO DIRECTO menos el importe correspondiente a la Reserva a trav&eacute;s de transferencia electr&oacute;nica <u>en la cuenta a nombre de FONDEO DIRECTO</u>, la cual se encuentra detallada en el <b>Anexo &ldquo;F&rdquo;</b> del presente Contrato.</p>
<p><b><u>OCTAVA. COBRO DE LOS DOCUMENTOS.</u></b> FONDEO DIRECTO y el PROVEEDOR de manera solidaria se encargar&aacute;n de la cobranza de los Documentos materia de las Operaciones de Factoraje. </p>
<p>Por lo que FONDEO DIRECTO se dar&aacute; por recibido del pago total, cuando tenga a su disposici&oacute;n los Recursos correspondientes a su entera satisfacci&oacute;n.</p>
<p>En el supuesto de que la SOCIEDAD PAGADORA pague directamente al PROVEEDOR los importes de los Documentos transmitidos en factoraje, a&uacute;n y cuando ello obedezca a falta de notificaci&oacute;n por parte de FONDEO DIRECTO a la SOCIEDAD PAGADORA respecto de la transmisi&oacute;n de los Documentos operados por virtud del factoraje previsto en este Contrato, el PROVEEDOR se obliga a entregar a FONDEO DIRECTO el importe total del pago recibido en un plazo no mayor a 24 horas h&aacute;biles, acordando LAS PARTES que en dicho supuesto el PROVEEDOR tendr&aacute; el car&aacute;cter de depositario respecto de las cantidades recibidas, en cuyo caso el PROVEEDOR no tendr&aacute; derecho a recibir retribuci&oacute;n alguna, por lo que de retener indebidamente el importe de los pagos recibidos, incurrir&aacute; en violaci&oacute;n de dep&oacute;sito con todas las consecuencias legales que eso implica.</p>
<p>En caso de que el PROVEEDOR no hiciere entrega a FONDEO DIRECTO de las cantidades recibidas en el plazo se&ntilde;alado en la presente cl&aacute;usula, el PROVEEDOR pagar&aacute; a FONDEO DIRECTO por concepto de Pena Convencional la cantidad diaria establecida por las partes en el <b>Anexo &ldquo;C&rdquo;</b> del presente Contrato, lo anterior desde el d&iacute;a en que el PROVEEDOR retenga indebidamente dichas cantidades y hasta en tanto no reintegre las mismas a FONDEO DIRECTO, ello independientemente de la responsabilidad civil o penal en que pudiera incurrir.</p>
<p><b><u>NOVENA. NOTIFICACI&Oacute;N A LA SOCIEDAD PAGADORA.</u></b> FONDEO DIRECTO notificar&aacute; a la SOCIEDAD PAGADORA la celebraci&oacute;n de las operaciones de factoraje respecto de Documentos a su cargo y por consiguiente la transmisi&oacute;n de los derechos de cr&eacute;dito de dichos Documentos a favor de FONDEO DIRECTO en su calidad de comisionista del o los INVERSIONISTAS.</p>
<p>La notificaci&oacute;n correspondiente ser&aacute; efectuada por FONDEO DIRECTO a trav&eacute;s del procedimiento que considere conveniente, oblig&aacute;ndose el PROVEEDOR a proporcionar a FONDEO DIRECTO toda la informaci&oacute;n y colaboraci&oacute;n que razonablemente le sea solicitada por &eacute;ste para tal fin, siendo por cuenta del PROVEEDOR, los gastos que se originen con motivo de la notificaci&oacute;n aqu&iacute; referida, as&iacute; como los derivados de la cobranza de los Documentos transmitidos en Factoraje.</p>
<p><b><u>D&Eacute;CIMA. COSTO FINANCIERO.</u></b> EL PROVEEDOR manifiesta en este acto estar de acuerdo en pagar a FONDEO DIRECTO el costo financiero establecido en la plataforma previamente para cada operaci&oacute;n de factoraje, por lo que al estampar su Firma Electr&oacute;nica en la aceptaci&oacute;n de la operaci&oacute;n de factoraje, se obligar&aacute; a cubrir a FONDEO DIRECTO las cantidades correspondientes al costo financiero se&ntilde;aladas en el <b>Anexo &ldquo;A&rdquo;</b> del presente Contrato, cantidades que ser&aacute;n descontadas del fondeo de los Documentos por FONDEO DIRECTO.</p>
<p><b><u>D&Eacute;CIMA PRIMERA. GARANT&Iacute;AS.</u></b> LAS PARTES acuerdan que con la finalidad de garantizar el pago a FONDEO DIRECTO en su calidad de Comisionista de los importes de los Documentos materia de las Operaciones de Factoraje, EL PROVEEDOR deber&aacute;:</p>
<ul>
<li>Entregar a FONDEO DIRECTO un Pagar&eacute; Electr&oacute;nico librado a su favor por el importe de cada Documento del cual se realice Factoraje, los cuales formar&aacute;n parte del presente contrato como <b>Anexo &ldquo;B&rdquo;</b>. LAS PARTES acuerdan que al existir cualquier obligaci&oacute;n vigente del PROVEEDOR a FONDEO DIRECTO respecto de alg&uacute;n Documento, el Pagar&eacute; Electr&oacute;nico respectivo ser&aacute; v&aacute;lido, vinculante y ejecutable, confiri&eacute;ndole el PROVEEDOR a FONDEO DIRECTO el derecho a exigir el pago del mismo. </li>
</ul>
<p>El pagar&eacute; relacionado a cada operaci&oacute;n ser&aacute; cancelado una vez que la SOCIEDAD PAGADORA pague a FONDEO DIRECTO la cantidad total del Documento materia de la Operaci&oacute;n de Factoraje asociada con el pagar&eacute;; o cuando el PROVEEDOR cubra por su cuenta el adeudo correspondiente a satisfacci&oacute;n de FONDEO DIRECTO.</p>
<ul>
<li>FONDEO DIRECTO a su entera discreci&oacute;n podr&aacute; solicitar al PROVEEDOR como garant&iacute;a por cada operaci&oacute;n que realice la cesi&oacute;n de los Derechos de Cr&eacute;dito respecto de una o varias facturas adicionales equivalentes al valor total o superior del Documento materia de la operaci&oacute;n de factoraje a cargo de un deudor distinto a la SOCIEDAD PAGADORA, por lo que en dicho supuesto, el pago del importe de los Documentos materia de las Operaciones de Factoraje estar&aacute; garantizado con un aforo m&iacute;nimo del 2 a 1.</li>
</ul>
<p><b><u>D&Eacute;CIMA SEGUNDA. INTERESES MORATORIOS.</u></b> LAS PARTES acuerdan que en caso de que los Documentos no sean pagados por la SOCIEDAD PAGADORA y/o por el PROVEEDOR en su respectiva Fecha de Pago, se causar&aacute;n intereses moratorios a raz&oacute;n de la tasa de inter&eacute;s pactada por las partes y se&ntilde;alada en el <b>Anexo &ldquo;D&rdquo;</b> del presente contrato por cada d&iacute;a a partir de la fecha en que las cantidades adeudadas debieron ser cubiertas y hasta la fecha de su pago total, los cuales deber&aacute;n ser pagados a FONDEO DIRECTO por la SOCIEDAD PAGADORA y/o por el PROVEEDOR en virtud de tener obligaci&oacute;n solidaria.</p>
<p><b><u>D&Eacute;CIMA TERCERA. OBLIGACIONES DEL PROVEEDOR.</u></b> Durante toda la vigencia del Contrato, el PROVEEDOR se obliga a:</p>
<ol start="1">
<li>Cumplir integra y debidamente con todas las obligaciones a su cargo establecidas en el presente Contrato.</li>
</ol>
<ol start="2">
<li>Que, al momento de publicar los Documentos en la Plataforma, acepta que en caso de que &eacute;stos se otorguen en factoraje, bajo los t&eacute;rminos del presente contrato, el PROVEEDOR transmitir&aacute; irrevocablemente a FONDEO DIRECTO en su calidad de Comisionista, todos los Derechos de Cr&eacute;dito asociados con dichos Documentos. </li>
</ol>
<ol start="3">
<li>Responder del detrimento en el valor de los Derechos de Cr&eacute;dito objeto de las Operaciones de Factoraje, que sean consecuencia del acto jur&iacute;dico que les dio origen.</li>
</ol>
<ol start="4">
<li>Responder frente a FONDEO DIRECTO respecto de cualquier descuento realizado por la SOCIEDAD PAGADORA en los Documentos materia de las Operaciones de Factoraje como consecuencia de devoluciones de los bienes correspondientes por parte de la SOCIEDAD PAGADORA al PROVEEDOR.</li>
</ol>
<p><b><u>D&Eacute;CIMA CUARTA. VICIOS OCULTOS EN LOS BIENES O SERVICIOS.</u></b> LAS PARTES acuerdan que el PROVEEDOR deber&aacute; responder frente a FONDEO DIRECTO y en su caso frente a la SOCIEDAD PAGADORA de los vicios ocultos que pudieran sobrevenir de los bienes o servicios prestados por el PROVEEDOR origen de los Documentos materia de las Operaciones de Factoraje, por lo que el PROVEEDOR deber&aacute; pagar a FONDEO DIRECTO las cantidades que en su caso descuente la SOCIEDAD PAGADORA de dichos Documentos. </p>
<ol class="reset" start="2">
<li><b>USO DE MEDIOS ELECTR&Oacute;NICOS</b></li>
</ol>
<p><b><u>D&Eacute;CIMA QUINTA. FACTORAJE A TRAV&Eacute;S DE MEDIOS ELECTR&Oacute;NICOS Y SUS EFECTOS.</u></b> LAS PARTES convienen en que las comunicaciones entre el PROVEEDOR y FONDEO DIRECTO para celebrar operaciones de factoraje, ejercer derechos, y cumplir obligaciones, se realizar&aacute;n a trav&eacute;s de la Plataforma de Fondeo Directo o a trav&eacute;s de los Medios Electr&oacute;nicos.</p>
<p>El PROVEEDOR tendr&aacute; como medios de identificaci&oacute;n y de acceso a la Plataforma un Nombre de Usuario y una Contrase&ntilde;a individual y confidencial, y a trav&eacute;s de dicha plataforma podr&aacute; firmar con su Firma Electr&oacute;nica las operaciones de factoraje que desee realizar con FONDEO DIRECTO, por lo que dicha firma tendr&aacute; la misma validez que la firma aut&oacute;grafa del PROVEEDOR, y por ende lo obligar&aacute; y producir&aacute; los mismos efectos que &eacute;sta y, en consecuencia, tendr&aacute;n el mismo valor probatorio. Por lo anterior, el PROVEEDOR sabe y acepta que la utilizaci&oacute;n de los Medios Electr&oacute;nicos constituye la aceptaci&oacute;n t&aacute;cita y plena de los t&eacute;rminos y condiciones vigentes en cada momento en que utilice los mismos.</p>
<p><b><u>D&Eacute;CIMA SEXTA. TRANSFERENCIA DE INFORMACI&Oacute;N.</u></b> Al firmar el presente Contrato con su Firma Electr&oacute;nica Avanzada y utilizar la Plataforma, el PROVEEDOR se obliga a hacer uso de los servicios en forma personal e intransferible conforme a los t&eacute;rminos, condiciones y requisitos establecidos en el presente Contrato.</p>
<p>EL PROVEEDOR acepta y reconoce expresamente que FONDEO DIRECTO es la propietaria y/o titular de los derechos, seg&uacute;n corresponda, de los medios de acceso y los programas que le permitan hacer uso de los servicios proporcionados por la Plataforma, por lo que el PROVEEDOR solo podr&aacute; transferir, divulgar o dar uso distinto total o parcial a dichos medios de acceso y programas, previa autorizaci&oacute;n por escrito y/o a trav&eacute;s de Medios Electr&oacute;nicos. En caso contrario, el PROVEEDOR ser&aacute; responsable de los da&ntilde;os y perjuicios que FONDEO DIRECTO o terceros sufran, lo anterior con independencia de las acciones judiciales, administrativas o de cualquier &iacute;ndole que le asistan a FONDEO DIRECTO. El PROVEEDOR acepta que es su responsabilidad el uso de la informaci&oacute;n que se genere a trav&eacute;s de esta modalidad de comunicaci&oacute;n.</p>
<p><b><u>D&Eacute;CIMA S&Eacute;PTIMA. OBLIGACIONES DEL PROVEEDOR EN EL USO DE MEDIOS ELECTR&Oacute;NICOS.</u></b> El PROVEEDOR acepta y reconoce ser el &uacute;nico responsable del uso y custodia de los componentes de su Nombre de Usuario, Contrase&ntilde;a y Firma Electr&oacute;nica, que servir&aacute;n para identificarlo, por lo que las operaciones e instrucciones que realice a trav&eacute;s de Medios Electr&oacute;nicos lo identifican plenamente y no pueden ser desconocidos, rechazados o revocados por el PROVEEDOR, por lo que libera a FONDEO DIRECTO de la responsabilidad de cerciorarse que sean v&aacute;lidas las operaciones ejecutadas por el PROVEEDOR.</p>
<p><b><u>D&Eacute;CIMA OCTAVA. ACTOS POR MEDIOS ELECTR&Oacute;NICOS.</u></b> Las Partes reconocen que, en t&eacute;rminos del art&iacute;culo 75 del C&oacute;digo de Comercio en vigor, los actos relacionados con los Medios Electr&oacute;nicos aceptados son de naturaleza mercantil tanto para el PROVEEDOR como para FONDEO DIRECTO. De acuerdo con lo anterior, el PROVEEDOR y FONDEO DIRECTO convienen que: </p>
<ol class="latin" start="1">
<li>Para efectos de lo dispuesto en la fracci&oacute;n I del art&iacute;culo 91 del C&oacute;digo de Comercio en vigor se entender&aacute; que FONDEO DIRECTO recibe un Mensaje de Datos enviado por el PROVEEDOR, cuando &eacute;ste accede a la Plataforma, y que la informaci&oacute;n proporcionada a trav&eacute;s de ese servicio se recibe por el PROVEEDOR en el momento que obtenga dicha informaci&oacute;n.</li>
<li>Todas las instrucciones, confirmaciones, avisos, informaci&oacute;n, y/o Mensajes de Datos, realizadas y/o enviados a trav&eacute;s de la Plataforma &oacute; a trav&eacute;s de Medios Electr&oacute;nicos tendr&aacute;n el alcance jur&iacute;dico necesario para darle validez a las operaciones derivadas de este Contrato. </li>
</ol>
<p><b><u>D&Eacute;CIMA NOVENA. REGISTRO.</u></b> Para llevar a cabo el Objeto del presente Contrato a trav&eacute;s de la Plataforma, el PROVEEDOR deber&aacute; iniciar su registro en la plataforma a trav&eacute;s de una solicitud que FONDEO DIRECTO har&aacute; disponible por Medios Electr&oacute;nicos y en la que FONDEO DIRECTO solicitar&aacute; informaci&oacute;n que permita identificar al PROVEEDOR y permita dar cumplimiento a las obligaciones establecidas en &eacute;ste Contrato. </p>
<p>Una vez que el PROVEEDOR llene correctamente la mencionada solicitud, FONDEO DIRECTO completar&aacute; el registro y enviar&aacute; una liga electr&oacute;nica al correo electr&oacute;nico del PROVEEDOR, para efecto de que &eacute;ste acceda a dicha liga y proceda a crear una Contrase&ntilde;a; la cual en conjunto con su correo electr&oacute;nico o Nombre de Usuario lo identificaran como Usuario y le dar&aacute; acceso a la Plataforma.</p>
<p>El Nombre de Usuario y la Contrase&ntilde;a del Usuario ser&aacute;n intransferibles por lo que es obligaci&oacute;n del PROVEEDOR mantenerlas seguras y asumir la responsabilidad en caso de su mal uso.</p>
<p><b><u>VIG&Eacute;SIMA. ACCESO.</u></b> Para el cumplimiento de lo establecido en el presente Contrato el PROVEEDOR deber&aacute; acceder a la Plataforma con su Nombre de Usuario y Contrase&ntilde;a y aceptar los t&eacute;rminos y condiciones aplicables al uso de la Plataforma.</p>
<p><b><u>VIG&Eacute;SIMA PRIMERA. CONEXI&Oacute;N.</u></b> Para lograr la conexi&oacute;n a los servicios de Internet, el PROVEEDOR deber&aacute; contar con equipo de c&oacute;mputo y/o un dispositivo m&oacute;vil con acceso a Internet, mismos que deber&aacute; mantener actualizados de modo que conserven compatibilidad con la Plataforma, en este acto, libera a FONDEO DIRECTO de cualquier responsabilidad que pudiera derivarse, de manera enunciativa m&aacute;s no limitativa, por el mal uso que le da o llegue a dar a dicho equipo y/o sistema, as&iacute; como por usar p&aacute;ginas de internet no seguras, por permitir que terceras personas, voluntaria o involuntariamente, accedan a su computadora u otro dispositivo donde almacena o llegue a almacenar sus Contrase&ntilde;as.</p>
<p>Asimismo, el PROVEEDOR se obliga a evitar abrir y/o contestar correos electr&oacute;nicos de terceros que desconozca, as&iacute; como utilizar programas o sistemas de c&oacute;mputo legales y a estar enterado de las actualizaciones o parches que dichos programas requieren para su uso seguro y acepta que la navegaci&oacute;n o vista de sitios electr&oacute;nicos, es bajo su m&aacute;s exclusiva responsabilidad.</p>
<p>Ser&aacute; bajo la m&aacute;s exclusiva responsabilidad del PROVEEDOR, visitar sitios no seguros que pudieran extraer informaci&oacute;n confidencial del PROVEEDOR, as&iacute; como bajar cualquier contenido de tales sitios y/o descargar sistemas o programas de c&oacute;mputo que permitan compartir archivos (peer to peer) que pudieran vulnerar la privacidad de su informaci&oacute;n y que el equipo y/o sistemas electr&oacute;nicos que utiliza cuenten con la seguridad para evitar este tipo de intrusiones.</p>
<p><b><u>VIG&Eacute;SIMA SEGUNDA. USO.</u></b> El uso de Plataforma representa grandes beneficios para el PROVEEDOR, no obstante, su uso diferente a los pactados en el Contrato representa tambi&eacute;n algunos riesgos de seguridad que pueden derivar en diversas modalidades de fraude en perjuicio del propio PROVEEDOR, riesgos que pueden ser mitigados por el PROVEEDOR siguiendo ciertas pautas b&aacute;sicas de protecci&oacute;n de informaci&oacute;n personal y Contrase&ntilde;a mismas que se obliga a establecer y que a continuaci&oacute;n se mencionan:</p>
<ol class="latin" start="1">
<li>Instalar en su computadora personal, software antivirus y mantenerlo actualizado.</li>
<li>Reducir la cantidad de correo que recibe en la que se contengan sus datos personales.</li>
<li>Verificar la legitimidad de toda solicitud de informaci&oacute;n personal, financiera o de sus cuentas y tarjetas, que reciba por cualquier medio, especialmente por correo electr&oacute;nico, en ese sentido se se&ntilde;ala que FONDEO DIRECTO nunca le solicitar&aacute; que proporcione su Contrase&ntilde;a a trav&eacute;s de un correo electr&oacute;nico.</li>
<li>No deber&aacute; compartir sus Contrase&ntilde;a con persona alguna, debe utilizar claves diferentes para cada uno de los medios electr&oacute;nicos que utilice y escoja claves que resulten dif&iacute;ciles de adivinar para un tercero y que incluyan letras y n&uacute;meros.</li>
<li>Verificar constantemente los movimientos que presenten sus cuentas y tarjetas y revisar siempre sus estados de cuenta.</li>
<li>No llevar consigo sus Contrase&ntilde;as, deber&aacute; memorizarlas o mantenerlas en un lugar seguro.</li>
</ol>
<p>Todas las notificaciones, avisos y en general cualquier comunicaci&oacute;n que FONDEO DIRECTO realice al PROVEEDOR se har&aacute;n a trav&eacute;s de la Plataforma y/o Medios Electr&oacute;nicos.</p>
<p>Para el caso de notificaciones y avisos judiciales o preparatorios a juicio, se har&aacute;n en los mismos domicilios establecidos en el Contrato por las Partes.</p>
<ol class="reset" start="3">
<li><b>CL&Aacute;USULAS GENERALES</b></li>
</ol>
<p><b><u>VIG&Eacute;SIMA TERCERA. CAUSAS DE VENCIMIENTO.</u></b> Si cualquiera de los siguientes supuestos tiene lugar, FONDEO DIRECTO dejar&aacute; de adquirir a trav&eacute;s de Operaciones de Factoraje los Derechos de Cr&eacute;dito que le sean presentados por el PROVEEDOR, sin necesidad de aviso previo, as&iacute; mismo FONDEO DIRECTO podr&aacute; dar por terminado anticipadamente el presente Contrato, subsistiendo todas y cada una de las obligaciones a cargo de la SOCIEDAD PAGADORA y del PROVEEDOR hasta en tanto hayan sido cumplidas y liquidadas en su totalidad a plena satisfacci&oacute;n de FONDEO DIRECTO.</p>
<ol start="1">
<li>Si el PROVEEDOR presenta a FONDEO DIRECTO informaci&oacute;n falsa o incorrecta, o si alguna de las declaraciones del PROVEEDOR resultara falsa o dolosamente incorrecta. </li>
<li>Si el PROVEEDOR presenta a factoraje un Documento, que no re&uacute;na cualquiera de los requisitos establecidos en la cl&aacute;usula SEGUNDA del presente Contrato.</li>
<li>Si el PROVEEDOR se encuentra en incumplimiento de cualquier otra obligaci&oacute;n a su cargo conforme al presente contrato y dicho incumplimiento no es subsanado dentro de un plazo de 10 (diez) d&iacute;as h&aacute;biles contados a partir de dicho incumplimiento.</li>
</ol>
<p><b><u>VIG&Eacute;SIMA CUARTA. NOTIFICACIONES.</u></b> Las PARTES convienen que todas las notificaciones referentes al presente Contrato se realizar&aacute;n a trav&eacute;s de la plataforma de FONDEO DIRECTO o en su defecto por correo electr&oacute;nico a los se&ntilde;alados en el <b>Anexo &ldquo;E&rdquo;</b> del presente Contrato.</p>
<p><b><u>VIG&Eacute;SIMA QUINTA. CESI&Oacute;N.</u></b> El PROVEEDOR no podr&aacute; ceder o de cualquier otra manera negociar los derechos y obligaciones a su cargo, derivadas del presente Contrato.</p>
<p>De conformidad con el art&iacute;culo 299 de la Ley General de T&iacute;tulos y Operaciones de Cr&eacute;dito, el PROVEEDOR en este acto, expresamente autoriza a FONDEO DIRECTO para que, en cualquier momento descuente, ceda o de cualquier otra manera negocie, ya sea de manera total o parcial, los Derechos de Cr&eacute;dito documentados en el presente Contrato.</p>
<p><b><u>VIG&Eacute;SIMA SEXTA. IMPUESTOS.</u></b> Cada una de las partes ser&aacute; responsable del cumplimiento de las obligaciones fiscales que le corresponda derivadas de la celebraci&oacute;n del presente Contrato, en los t&eacute;rminos de las disposiciones legales aplicables.</p>
<p><b><u>VIG&Eacute;SIMA S&Eacute;PTIMA. MODIFICACIONES AL CONTRATO.</u></b> FONDEO DIRECTO podr&aacute; modificar el presente contrato con el &uacute;nico requisito de dar aviso al PROVEEDOR a trav&eacute;s de la plataforma, con treinta (30) d&iacute;as naturales de anticipaci&oacute;n al d&iacute;a en que entre en vigor la modificaci&oacute;n de que se trate; Dichas modificaciones estar&aacute;n contenidas en el o los ADENDUM del presente Contrato, las cuales el PROVEEDOR deber&aacute; de firmar de enterado con su Firma Electr&oacute;nica al momento de ingresar en La Plataforma.</p>
<p>LAS PARTES acuerdan que en caso de existir ADENDUM pendientes de firma, la plataforma de FONDEO DIRECTO no permitir&aacute; al PROVEEDOR la celebraci&oacute;n de Operaciones de Factoraje.</p>
<p>En caso de que el PROVEEDOR, no est&eacute; de acuerdo con la modificaci&oacute;n propuesta por FONDEO DIRECTO, el PROVEEDOR podr&aacute; solicitar la terminaci&oacute;n del Contrato dentro de los treinta (30) d&iacute;as posteriores a dicho aviso, sin responsabilidad alguna a su cargo, debiendo pagar el saldo insoluto a su cargo as&iacute; como todos los accesorios derivados del mismo.</p>
<p><b><u>VIG&Eacute;SIMA OCTAVA. INVALIDEZ Y/O NULIDAD.</u></b> En caso de que cualquiera de los t&eacute;rminos, condiciones, disposiciones y/o acuerdos del presente Contrato fueran considerados como no v&aacute;lidos o no ejecutables, ya sea por la naturaleza de estos o por alguna parte de los mismos, el resto de los t&eacute;rminos, condiciones, disposiciones y/o acuerdos del presente Contrato continuar&aacute;n en vigor, salvo que no sean legales o sean inconsistentes con el objeto del mismo.</p>
<p><b><u>VIG&Eacute;SIMA NOVENA. VIGENCIA.</u></b> El presente Contrato tendr&aacute; una duraci&oacute;n indefinida y podr&aacute; ser terminado anticipadamente por cualquiera de las Partes mediante notificaci&oacute;n por escrito dada a la otra parte con 30 (treinta) d&iacute;as h&aacute;biles de anticipaci&oacute;n a la fecha de terminaci&oacute;n se&ntilde;alada en dicha notificaci&oacute;n en el entendido que las obligaciones de las partes continuar&aacute;n vigentes hasta la fecha efectiva de la terminaci&oacute;n del Contrato, entendiendo y aceptando que la obligaci&oacute;n del PROVEEDOR y la SOCIEDAD PAGADORA de pagar a FONDEO DIRECTO las cantidades a su cargo subsistir&aacute; hasta el momento en que las mismas sean cubiertas en su totalidad a satisfacci&oacute;n de FONDEO DIRECTO.</p>
<p><b><u>TRIG&Eacute;SIMA.  ACUERDO TOTAL.</u></b> El presente Contrato contiene el acuerdo total de las Partes con respecto al objeto del Contrato y reemplaza y cancela todos los acuerdos, negociaciones, pactos, documentos, cartas, cotizaciones y/o comunicaciones anteriores entre las partes, sean orales y/o escritos, con relaci&oacute;n al objeto del presente Contrato.</p>
<p><b><u>TRIG&Eacute;SIMA PRIMERA. RENUNCIA DE DERECHOS.</u></b> La omisi&oacute;n de LAS PARTES en el ejercicio de los derechos previstos en este instrumento en ning&uacute;n caso tendr&aacute; el efecto de una renuncia a los mismos, en los t&eacute;rminos del presente Contrato.</p>
<p><b><u>TRIG&Eacute;SIMA SEGUNDA. SUBT&Iacute;TULOS.</u></b> Los subt&iacute;tulos en este Contrato son exclusivamente por conveniencia de las Partes y para mera referencia, por lo que no se considerar&aacute;n para efectos de interpretaci&oacute;n o cumplimiento del mismo.</p>
<p><b><u>TRIG&Eacute;SIMA TERCERA. DATOS PERSONALES.</u></b> Las partes se obligan a cumplir con la legislaci&oacute;n vigente en materia de protecci&oacute;n de datos personales en posesi&oacute;n de los particulares (&ldquo;Ley&rdquo;), por lo que garantiza que tratar&aacute; como confidencial los datos personales que, en su caso, se reciban o se transmitan entre el PROVEEDOR y FONDEO DIRECTO, de sus asociados y ex asociados, y/o representantes (&ldquo;Datos Personales&rdquo;). Asimismo, ambas partes se obligan a dar a conocer a los titulares de los Datos Personales los avisos de privacidad que correspondan, los cuales incluir&aacute;n en su texto, entre otros, la posibilidad de transmitirlos a empresas filiales y/o relacionadas de &eacute;stas, y a mantener las medidas de seguridad, administrativas, t&eacute;cnicas y f&iacute;sicas que permitan proteger los Datos Personales, contra da&ntilde;o, p&eacute;rdida, alteraci&oacute;n, destrucci&oacute;n, uso, acceso o tratamiento no autorizado. Lo anterior, con el fin de garantizar el cabal cumplimiento con la Ley, su reglamento y los lineamientos que, en su caso, publiquen las autoridades mexicanas. La obligaci&oacute;n de confidencialidad subsistir&aacute; a&uacute;n despu&eacute;s de finalizar la relaci&oacute;n comercial entre las partes.</p>
<p><b><u>TRIG&Eacute;SIMA CUARTA. FIRMA ELECTR&Oacute;NICA.</u></b> Para todo lo conveniente con el presente Contrato la Firma Electr&oacute;nica Avanzada podr&aacute; usarse a trav&eacute;s de la Plataforma produciendo los mismos efectos que los presentados con firma aut&oacute;grafa y, en consecuencia, tendr&aacute;n el mismo valor probatorio que las disposiciones aplicables les otorgan a &eacute;sta.</p>
<p><b><u>TRIG&Eacute;SIMA QUINTA. INFORMES A SOCIEDADES DE INFORMACI&Oacute;N CREDITICIA.</u></b> El PROVEEDOR autoriza de manera expresa a FONDEO DIRECTO tanto a solicitar como a proporcionar a las Sociedades de Informaci&oacute;n Crediticia a que se refiere la Ley para regular las Sociedades de Informaci&oacute;n Crediticia, toda la informaci&oacute;n relativa a su comportamiento e historial crediticio.</p>
<p><b><u>TRIG&Eacute;SIMA SEXTA. LEYES, JURISDICCI&Oacute;N Y COMPETENCIA.</u></b> El presente contrato es de naturaleza mercantil, por lo que el mismo est&aacute; sujeto para su interpretaci&oacute;n, ejecuci&oacute;n y cumplimiento a las Leyes Mercantiles de los Estados Unidos Mexicanos, someti&eacute;ndose expresamente LAS PARTES a la jurisdicci&oacute;n y competencia de los tribunales competentes de la Ciudad de Guadalajara, Jalisco, M&eacute;xico, renunciando a cualquier otro fuero que por raz&oacute;n de sus domicilios presentes o futuros o por cualquier otra causa pudiera corresponderles.</p>
<p><b>Le&iacute;do el contenido del presente Contrato y enteradas las partes de las obligaciones a las que se sujetan, as&iacute; como el alcance legal de las mismas, lo firman utilizando su Firma Electr&oacute;nica misma que se genera al seleccionar la opci&oacute;n de "Estoy de acuerdo&rdquo; en la secci&oacute;n correspondiente en La Plataforma, por lo que al generar dicha Firma LAS PARTES quedan obligadas al cumplimiento de todas las obligaciones a su cargo derivadas del presente contrato, quedando en poder de cada una de las partes un ejemplar original de este Contrato para constancia de la operaci&oacute;n que en este acto se celebra en la Ciudad de [FIRMA_CIUDAD] a los [FIRMA_FECHA_DIAS] d&iacute;as del mes de [FIRMA_FECHA_MES] del [FIRMA_FECHA_ANIO].</b></p>
