<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: lower-latin;
}
.reset {
  padding: 0;
}
.break {
  page-break-after: always;
}
li ~ li {
  margin-top: 1em;
}
ul {
  text-align: left;
}
table, th, td {
    border: 1px solid black;
}
.invoices-table-container {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoices-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.invoices-table th {
  font-size: 8px;
  font-weight: 500;
  width: 14.28%;
  max-width: 14.28%;
  word-wrap: break-word;
}

.invoices-table tr td {
  font-size: 8px;
  font-weight: 300;
  text-align: center;
  text-transform: none!important;
  width: 14.28%;
  max-width: 14.28%;
  word-wrap: break-word;
}
</style>

<p align="center"><b>Anexo &ldquo;A&rdquo;</b> ([ANEXO_NUMERO])</p>
<p align="center"><b>ESPECIFICACIONES DE LA OPERACI&Oacute;N DE FACTORAJE Y ACEPTACI&Oacute;N DEL PROVEEDOR</b></p>

<p>ANEXO &ldquo;A&rdquo; DEL CONTRATO DE FACTORAJE CELEBRADO CON FECHA <b>[ANEXO_FECHA]</b> POR PLATAFORMA FD, S.A.P.I. DE C.V. (FONDEO DIRECTO), Y <b>[PROVEEDOR_EMPRESA_NOMBRE]</b> (EL PROVEEDOR).</p>

<p><strong>Factura(s) materia de las Operaciones de Factoraje:</strong></p>

<div class="invoices-table-container">
  [TABLE_INVOICES]
</div>

<p>Una vez que el &ldquo;Proveedor&rdquo; estampe su Firma Electr&oacute;nica en el presente Anexo y que Fondeo Directo pague la suma del &ldquo;Total de la Factura&rdquo; se&ntilde;alada en el cuadro anterior ser&aacute;n cedidos a &ldquo;Fondeo Directo&rdquo; los derechos de cobro de la o las Facturas listadas, materia de la Operaci&oacute;n amparada por éste Anexo.
</p>

<p>
La Factura (o Facturas) materia de la presente operaci&oacute;n tienen una fecha de pago al vencimiento (&ldquo;Fecha de pago señaladas por la Sociedad Pagadora&rdquo;) por lo que, al llegar dicha(s) fecha(s), y en un plazo m&aacute;ximo de 5 d&iacute;as h&aacute;biles, Fondeo Directo devolver&aacute; al Proveedor la cantidad mostrada en el apartado de &ldquo;Reserva&rdquo; siempre y cuando la(s) Sociedad(es) Pagadora(s) pague(n) en tiempo y forma a &ldquo;Fondeo Directo&rdquo; el monto total de dicha Factura (o facturas). En caso de que lo(s) Pagadoras (s) no pague(n) a &ldquo;Fondeo Directo&rdquo; el monto total de la Factura (o facturas), &eacute;ste &uacute;ltimo no tendr&aacute; la obligaci&oacute;n de devolver al Proveedor cantidad alguna por concepto de &ldquo;Reserva&rdquo;.
</p>

<p><em>Le&iacute;do el contenido del presente documento [PROVEEDOR_EMPRESA_NOMBRE] acepta y reconoce que cedi&oacute; a &ldquo;Fondeo Directo&rdquo; la totalidad de los derechos de cobro de la Factura [o Facturas] descritas arriba con la &uacute;nica condici&oacute;n de que se le pague la cantidad se&ntilde;alada como &ldquo;Total de la Factura&rdquo; por lo que manifiesta su 
  conformidad para que El o Las Sociedades Pagadoras le(s) pague directamente a &ldquo;Fondeo Directo&rdquo; el monto total de la(s) mencionada(s) Factura(s),
   y en raz&oacute;n de lo anterior en este acto procede a firmar con su Firma Electr&oacute;nica misma que se genera al seleccionar la opci&oacute;n de &ldquo;Estoy de acuerdo en ceder los derechos de cobro de la(s) Factura(s) [arriba enlistadas] a Fondeo Directo&rdquo;, por lo que al generar la Firma Electr&oacute;nica el [PROVEEDOR_EMPRESA_NOMBRE] cede de manera irrevocable los mencionados derechos de cobro de la(s) Factura(s) [arriba mostradas], asimismo, en el presente acto &ldquo;Fondeo Directo&rdquo; firma con su Firma Electr&oacute;nica de conformidad y aceptaci&oacute;n el presente Anexo, en la 
  Ciudad de [FIRMA_CIUDAD] a los [FIRMA_FECHA_DIAS] d&iacute;as del mes de [FIRMA_FECHA_MES] del [FIRMA_FECHA_ANIO].
   <em><p>
