<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: lower-latin;
}
.reset {
  padding: 0;
}
li ~ li {
  margin-top: 1em;
}
</style>

<p>Al hacer click en el botón de “Estoy de Acuerdo” e ingresar a la plataforma acepto las siguientes responsabilidades y obligaciones:</p>

<ul>
<li>Aprobar o desaprobar en la Plataforma los Documentos objeto de Factoraje reconociendo así la existencia de los Derechos de Crédito a favor del PROVEEDOR.</li>
<li>Establecer en la Plataforma la Fecha de pago de los Documentos aprobados.</li>
<li>Pagar en tiempo y forma directamente a FONDEO DIRECTO el importe total de los Documentos aprobados y cuya Cesión de Derechos de Crédito haya sido notificada por FONDEO DIRECTO</li>
<li>Avisar a Fondeo Directo de cualquier anomalía que pudiera afectar el pago de alguna factura</li>
</ul>
