<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: upper-latin;
}
.reset {
  padding: 0;
}
.break {
  page-break-after: always;
}
li ~ li {
  margin-top: 1em;
}
table, th, td {
    border: 1px solid black;
}
.invoices-table-container {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoices-table {
  width: 100%;
  border-collapse: collapse;
}

.invoices-table th {
  font-size: 10px;
  font-weight: 500;
}

.invoices-table tr td {
  font-size: 8px;
  font-weight: 300;
  text-align: center;
  text-transform: none!important;
}
</style>

<ul class="latin">
  <li>Haberla cotejado contra sus correspondientes &oacute;rdenes de compra y no haber encontrado diferencias importantes.</li>
  <li>Haber recibido los bienes contenidos en dichas facturas.</li>
  <li>Haber revisado los bienes recibidos conforme a nuestros procedimientos usuales y encontrarme suficientemente satisfecho de lo entregado al punto en el que puedo aprobar  y pasar a pago LA FACTURA. </li>
  <li>Haber pasado LA FACTURA al procedimiento a través del cual se efectuar&aacute;(n) el(los) pago(s) correspondientes de acuerdo a nuestras políticas de pago.</li>
  <li>Estar de acuerdo en que el proveedor emisor de “LA FACTURA” celebre operaciones de factoraje con FONDEO DIRECTO, reconociendo que en el momento en que FONDEO DIRECTO realice el pago de “LA FACTURA” al proveedor FONDEO DIRECTO se convertirá en el nuevo acreedor de “LA FACTURA”.</li>
  <li>Estar de acuerdo en pagar directamente a FONDEO DIRECTO en la fecha de pago, el importe total de “LA FACTURA” una vez "que se me informe que" FONDEO DIRECTO es el nuevo acreedor de “LA FACTURA”.</li>
  <li>Estar de acuerdo en informar oportunamente a FONDEO DIRECTO sobre cualquier problema, situación o circunstancia extraordinaria relacionada con “LA FACTURA” que pudiera poner en riesgo o atrasar el pago parcial o total de la misma.</li>
</ul>

<div class="invoices-table-container">
  [TABLE_INVOICES]
</div>

