<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: lower-latin;
}
.reset {
  padding: 0;
}
.break {
  page-break-after: always;
}
li ~ li {
  margin-top: 1em;
}
</style>

<p align="center"><b>Anexo &ldquo;A&rdquo;</b> ([ANEXO_NUMERO])</p>
<p align="center"><b>DOCUMENTOS TRANSMITIDOS A FONDEO DIRECTO</b></p>

<p>ANEXO &ldquo;A&rdquo; DEL CONVENIO DE COLABORACI&Oacute;N CELEBRADO CON FECHA [ANEXO_FECHA] POR PLATAFORMA FD, S.A.P.I. DE C.V. (FONDEO DIRECTO), Y <b>[EMPRESA_PAGADORA]</b> (LA SOCIEDAD PAGADORA).</p>
<p>Por este conducto te notificamos que los derechos de cobro de las Facturas de tu Proveedor <b><em>[NOMBRE_PROVEEDOR]</em></b> que se detallan en el presente Anexo han sido cedidos en su totalidad a Plataforma FD, S.A.P.I. de C.V. en adelante &ldquo;Fondeo Directo&rdquo;, en virtud de la celebraci&oacute;n de operaciones de Factoraje entre &eacute;sta &uacute;ltima y tu Proveedor.</p>
<p>Es importante se&ntilde;alar que las mencionadas Facturas tiene una fecha de pago indicada por la Sociedad Pagadora por lo que al llegar esta fecha, deber&aacute;s realizar el pago de las mismas a &ldquo;Fondeo Directo&rdquo;.</p>

<p>Relaci&oacute;n de Facturas Cedidas a Fondeo Directo por el Proveedor</p>

<ul>
  <li>No. de Factura: <b>[NO_FACTURA]</b></li>
  <li>Fecha de expedici&oacute;n: <b>[FECHA_FACTURA]</b></li>
  <li>Fecha de pago establecida por la Sociedad Pagadora: <b>[FECHA_PAGO_FACTURA]</b></li>
</ul>

<p>Asimismo, te se&ntilde;alamos que el pago de las mencionadas Facturas deber&aacute; realizarse en la cuenta a nombre de Fondeo Directo que a continuaci&oacute;n te indicamos:</p>

<ul>
  <li>Titular: <b>PLATAFORMA FD S.A.P.I. DE C.V.</b></li>
  <li>Banco: <b>VE POR MAS</b></li>
  <li>Cuenta: <b>131675</b></li>
  <li>CLABE: <b>113180000001316759</b></li>
</ul>

<p>Una vez que se haya realizado el pago, deber&aacute;s notificar a &ldquo;Fondeo Directo&rdquo;, a trav&eacute;s de la Plataforma en el bot&oacute;n &ldquo;Notificar pago&rdquo; dentro del detalle de la factura, &oacute; en su defecto a trav&eacute;s de Mensaje de Datos a la direcci&oacute;n de correo electr&oacute;nico pagos@fondeodirecto.com.</p>
