<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: lower-latin;
}
.reset {
  padding: 0;
}
li ~ li {
  margin-top: 1em;
}
</style>
<p><b>CONTRATO DE COMISI&Oacute;N MERCANTIL QUE CELEBRAN POR UNA PARTE PLATAFORMA FD, S.A.P.I. DE C.V., EN LO SUCESIVO &ldquo;FONDEO DIRECTO&rdquo; REPRESENTADA EN ESTE ACTO POR FERNANDO MIRAMONTES, Y POR LA OTRA PARTE [PERSONA_FISICA_NOMBRE] POR SU PROPIO DERECHO, EN ADELANTE EL &ldquo;INVERSIONISTA&rdquo;, Y A QUIENES DE MANERA CONJUNTA SE LES DENOMINAR&Aacute; COMO &ldquo;LAS PARTES&rdquo;, DE CONFORMIDAD CON LAS SIGUIENTES DECLARACIONES, DEFINICIONES Y CL&Aacute;USULAS:</b></p>
<p align="center"><b>DECLARACIONES</b></p>
<ol class="roman" start="1">
<li><b>DECLARA FONDEO DIRECTO A TRAV&Eacute;S DE SU REPRESENTANTE LEGAL:</b></li>
</ol>
<ol class="latin" start="1">
<li>Que es una Sociedad An&oacute;nima Promotora de Inversi&oacute;n de Capital Variable, constituida de conformidad con las leyes mexicanas y que su representante legal cuenta con capacidad legal y facultades suficientes para celebrar el presente Contrato las cuales no le han sido revocadas, modificadas, ni limitadas en forma alguna al momento de la firma del presente.</li>
<li>Que en ning&uacute;n momento ha realizado alguna actividad, solicitud, ofrecimiento o promoci&oacute;n para la captaci&oacute;n de recursos seg&uacute;n se define en la Ley de Instituciones de Cr&eacute;dito.</li>
<li>Que por ning&uacute;n motivo y bajo ninguna causa o circunstancia ser&aacute; obligado solidario, aval o titular de la obligaci&oacute;n del pago o los pagos que deban hacer los Proveedores, las Sociedades Pagadoras, deudores o cualquier tercero relacionado con las operaciones motivos del presente Contrato.</li>
<li>Que ha desarrollado una Plataforma en la direcci&oacute;n electr&oacute;nica www.fondeodirecto.com mediante la cual se lleva a cabo la celebraci&oacute;n y aceptaci&oacute;n por las partes del presente Contrato, oblig&aacute;ndose en los t&eacute;rminos que m&aacute;s adelante se se&ntilde;alan.</li>
<li>Que para todo lo relacionado con el presente contrato se&ntilde;ala como su correo electr&oacute;nico el siguiente: legal@fondeodirecto.com.</li>
</ol>
<ol class="roman" start="2">
<li><b>DECLARA EL INVERSIONISTA:</b></li>
</ol>
<ol class="latin" start="1">
<li>Que es una persona f&iacute;sica con plena capacidad para celebrar y obligarse en t&eacute;rminos del presente Contrato.</li>
<li>Que es su voluntad conferir a FONDEO DIRECTO una Comisi&oacute;n Mercantil para que en su propio nombre y por cuenta del INVERSIONISTA celebre uno o varios Contratos y/o Operaciones de Factoraje previa instrucci&oacute;n girada en los t&eacute;rminos del presente contrato y a trav&eacute;s de la plataforma ubicada en la direcci&oacute;n electr&oacute;nica www.fondeodirecto.com.</li>
<li>Que ha manifestado su voluntad de celebrar el presente Contrato al realizar su Registro en la plataforma de FONDEO DIRECTO as&iacute; como al estampar su Firma Electr&oacute;nica en el presente acuerdo de voluntades y por ende reconoce que ha revisado, conoce y acepta todos los t&eacute;rminos y condiciones, avisos legales y cualquier otra cl&aacute;usula, declaraci&oacute;n, derecho, y/o obligaci&oacute;n que se contenga en el presente Contrato y en la Plataforma de FONDEO DIRECTO.</li>
<li>Que reconoce que FONDEO DIRECTO solamente actuar&aacute; como Comisionista actuando en su propio nombre y por cuenta del INVERSIONISTA en su car&aacute;cter de comitente y por ende las obligaciones derivadas del o los  Contratos y/o  Operaciones de Factoraje que en su momento celebre FONDEO DIRECTO al amparo del presente contrato ser&aacute;n por exclusiva cuenta y riesgo del INVERSIONISTA.</li>
<li>Que los recursos que utilizar&aacute; para la celebraci&oacute;n del o los Contratos de Factoraje que en su momento se efect&uacute;en no han sido obtenidos de actividades il&iacute;citas ni han sido el resultado de la inversi&oacute;n en actividades prohibidas o derivadas del narcotr&aacute;fico, lavado de dinero, financiamiento al terrorismo, actos de corrupci&oacute;n o cualquier otro delito contemplado por las leyes mexicanas.</li>
</ol>
<p align="center"><b>DEFINICIONES</b></p>
<p>Los t&eacute;rminos que se utilizan dentro de este Contrato, tendr&aacute;n los significados que a continuaci&oacute;n las Partes les atribuyen, en el entendido de que ser&aacute;n igualmente aplicables en su forma singular o plural, masculino &oacute; femenino:</p>
<p><b>&ldquo;Contrase&ntilde;a&rdquo;:</b> Conjunto de n&uacute;meros y/o letras que conforman una palabra clave, &uacute;nica, individual, e intransferible con la que el INVERSIONISTA completar&aacute; su Registro y subsecuentemente utilizar&aacute; como forma de identificaci&oacute;n cada vez que desee acceder a la plataforma.</p>
<p><b>&ldquo;Cuenta Virtual&rdquo;:</b> Es la cuenta a nombre del INVERSIONISTA en la que &eacute;ste tendr&aacute; a su disposici&oacute;n los Recursos para llevar a cabo el Objeto del presente Contrato.</p>
<p><b>&ldquo;Derechos de Cr&eacute;dito&rdquo;:</b> Facultad o potestad jur&iacute;dica del PROVEEDOR a exigir de una SOCIEDAD PAGADORA el pago de una cantidad v&aacute;lida, cierta, l&iacute;quida, exigible, determinada o determinable de dinero, la cual deber&aacute; constar en los Documentos.</p>
<p><b>&ldquo;Documentos&rdquo;:</b> Facturas o porci&oacute;n de las mismas en formato Extensible Markup Language, mejor conocido como &ldquo;XML&rdquo;, que emite y proporciona el PROVEEDOR, en las cu&aacute;les se hacen constar los Derechos de Cr&eacute;dito a su favor, mismos que podr&aacute;n ser materia de factoraje con FONDEO DIRECTO, previa instrucci&oacute;n del INVERSIONISTA.</p>
<p><b>&ldquo;D&iacute;a H&aacute;bil&rdquo;:</b> Significan los d&iacute;as en que FONDEO DIRECTO realiza sus actividades en un horario de lunes a viernes de 9:00 am a 5:00 pm horario del centro de M&eacute;xico, por lo que no se considerar&aacute;n como d&iacute;as h&aacute;biles los fines de semana, ni los d&iacute;as festivos oficiales de conformidad con el calendario para las Entidades Financieras publicado a trav&eacute;s de las Disposiciones de Car&aacute;cter General emitidas por la Comisi&oacute;n Nacional Bancaria y de Valores.</p>
<p><b>&ldquo;Sociedad Pagadora&rdquo;:</b> Es quien recibe los productos y/o servicios que el PROVEEDOR le proporciona, teniendo una obligaci&oacute;n de pago frente a este &uacute;ltimo, por una cantidad v&aacute;lida, cierta, l&iacute;quida, exigible, determinada o determinable de dinero.</p>
<p><b>&ldquo;Proveedor &oacute; Factorado&rdquo;:</b> Persona f&iacute;sica o moral que pone a la venta Derechos de Cr&eacute;dito a su favor.</p>
<p><b>&ldquo;Factorante &oacute; Fondeo Directo&rdquo;:</b> Persona moral que adquiere Derechos de Cr&eacute;dito propiedad del Proveedor &oacute; Factorado.</p>
<p><b>&ldquo;Contrato y/o Operaciones de Factoraje&rdquo;:</b> Proceso mediante el cual FONDEO DIRECTO en su calidad de comisionista o por su propio derecho adquiere los Derechos de Cr&eacute;dito vigentes que tenga el PROVEEDOR a su favor. Tambi&eacute;n se encuentran incluidos en esta definici&oacute;n los Adendum y Anexos de dicho Contrato de Factoraje.</p>
<p><b>&ldquo;Firma Electr&oacute;nica&rdquo;:</b> Son los datos en forma electr&oacute;nica consignados en un Mensaje de Datos, o adjuntados o l&oacute;gicamente asociados al mismo por cualquier tecnolog&iacute;a, que son utilizados para identificar al Firmante en relaci&oacute;n con el Mensaje de Datos e indicar que el Firmante aprueba la informaci&oacute;n contenida en el Mensaje de Datos, y que produce los mismos efectos jur&iacute;dicos que la firma aut&oacute;grafa, siendo admisible como prueba en juicio.</p>
<p><b>&ldquo;Medios Electr&oacute;nicos&rdquo;:</b> Los dispositivos tecnol&oacute;gicos que ser&aacute;n utilizados para el procesamiento, despliegue, conservaci&oacute;n y, en su caso, modificaci&oacute;n de informaci&oacute;n.</p>
<p><b>&ldquo;Mensaje de Datos&rdquo;:</b> Toda aquella informaci&oacute;n generada, enviada, recibida, archivada o comunicada a trav&eacute;s de medios electr&oacute;nicos.</p>
<p><b>&ldquo;Plataforma&rdquo;:</b> Conjunto de procedimientos y reglas creadas, adaptadas, y/o utilizadas por Fondeo Directo para permitir que el Inversionista en su calidad de comitente participe en el Factoraje, ya sea a trav&eacute;s de una Plataforma web propiedad de Fondeo Directo &oacute; a trav&eacute;s de otros Medios Electr&oacute;nicos como pudiera ser de manera enunciativa m&aacute;s no limitativa los correos electr&oacute;nicos autorizados por las partes.</p>
<p><b>&ldquo;Recursos&rdquo;:</b> La cantidad de dinero aportada por el inversionista mediante una o varias  Transferencias Electr&oacute;nicas de Fondos &ldquo;TEF&rdquo;, o mediante Sistema de Pagos Electr&oacute;nicos Interbancarios &ldquo;SPEI&rdquo; o cualquier otro sistema de pago, con la finalidad de celebrar operaciones de Factoraje a trav&eacute;s de la Plataforma, mismos que a su vez se dividen en: 1.Recursos disponibles: Son los recursos que est&aacute;n listos para la celebraci&oacute;n de operaciones de factoraje que no est&aacute;n siendo utilizados por el INVERSIONISTA en operaciones de factoraje y 2.Recursos Operados: Son los recursos que ya est&aacute;n siendo utilizados para la celebraci&oacute;n de operaciones de factoraje en cumplimiento de las instrucciones giradas por el INVERSIONISTA a FONDEO DIRECTO.</p>
<p><b>&ldquo;Registro&rdquo;:</b> Proceso que debe realizar el INVERSIONISTA de manera conjunta con FONDEO DIRECTO para poder participar en la Plataforma y realizar operaciones de factoraje a trav&eacute;s de las correspondientes instrucciones giradas a FONDEO DIRECTO.</p>
<p><b>&ldquo;Usuario&rdquo;:</b> Es aquella persona registrada y autorizada para poder realizar operaciones en la Plataforma.</p>
<p align="center"><b>CL&Aacute;USULAS</b></p>
<ol class="reset" start="1">
<li><b>COMISI&Oacute;N MERCANTIL</b></li>
</ol>
<p><b><u>PRIMERA. COMISI&Oacute;N.</u></b> Por medio del presente Contrato el INVERSIONISTA en su car&aacute;cter de Comitente confiere a FONDEO DIRECTO la comisi&oacute;n para que en su propio nombre y por cuenta del INVERSIONISTA celebre en su car&aacute;cter de Comisionista Contratos y/o Operaciones de Factoraje respecto de los Documentos en los t&eacute;rminos establecidos en el presente Contrato.</p>
<p>Como parte de esta comisi&oacute;n LAS PARTES acuerdan las siguientes reglas generales:</p>
<ol start="1">
<li>Las instrucciones que el INVERSIONISTA gire a FONDEO DIRECTO para celebrar los Contratos y/o Operaciones de Factoraje materia del presente contrato ser&aacute;n precisamente aquellas que se realicen a trav&eacute;s de la Plataforma de FONDEO DIRECTO y/o a trav&eacute;s de Medios Electr&oacute;nicos; en particular los correos electr&oacute;nicos se&ntilde;alados por LAS PARTES para efectos del presente contrato, dichas instrucciones formar&aacute;n parte del presente contrato como <b>Anexo &ldquo;A&rdquo;</b> y ser&aacute;n identificadas con n&uacute;meros consecutivos, ejemplo Anexo &ldquo;A&rdquo; (N&uacute;mero 1), Anexo &ldquo;A&rdquo; (n&uacute;mero 2), Anexo &ldquo;A&rdquo; (n&uacute;mero 3) y as&iacute; sucesivamente.</li>
<li>El INVERSIONISTA deber&aacute; registrarse en la plataforma a trav&eacute;s del llenado de una solicitud que FONDEO DIRECTO har&aacute; disponible a trav&eacute;s de Medios Electr&oacute;nicos, una vez que el INVERSIONISTA llene la solicitud. FONDEO DIRECTO completar&aacute; el registro y enviar&aacute; una liga electr&oacute;nica al correo del INVERSIONISTA se&ntilde;alado en el <b>Anexo &ldquo;B&rdquo;</b> del presente Contrato, para efecto de que el INVERSIONISTA acceda y proceda a crear una Contrase&ntilde;a; la cual en conjunto con su correo electr&oacute;nico identificar&aacute;n al INVERSIONISTA como Usuario y le dar&aacute; acceso a La Plataforma.</li>
<li>FONDEO DIRECTO recibir&aacute; del INVERSIONISTA, a trav&eacute;s de la Plataforma, &oacute; a trav&eacute;s del correo electr&oacute;nico se&ntilde;alado en el <b>Anexo &ldquo;B&rdquo;</b> del presente Contrato, las Instrucciones respectivas para la Celebraci&oacute;n de cada Contrato y/u Operaci&oacute;n de Factoraje.</li>
<li>FONDEO DIRECTO recibir&aacute; del INVERSIONISTA los recursos necesarios para cumplir las Instrucciones mencionadas.</li>
<li>FONDEO DIRECTO podr&aacute; celebrar Operaciones de Factoraje respecto de fracciones de facturas (Documentos) siempre y cuando as&iacute; sea instruido por parte del INVERSIONISTA a trav&eacute;s de una o varias instrucciones que formar&aacute;n parte del mencionado <b>Anexo &ldquo;A&rdquo;</b> del presente Contrato.</li>
<li>El INVERSIONISTA manifiesta estar de acuerdo en que las Operaciones de Factoraje que celebre respecto de fracciones de Facturas le sean pagadas a prorrata conjuntamente con los diversos acreedores en proporci&oacute;n a la fracci&oacute;n de la Factura de la que sea due&ntilde;o.</li>
</ol>
<p>Asimismo el INVERSIONISTA acepta que en el supuesto de que la SOCIEDAD PAGADORA pague parcialmente el monto de la Factura operada en factoraje por diversos acreedores, dicho monto ser&aacute; repartido entre los acreedores a prorrata en la proporci&oacute;n de la fracci&oacute;n de la Factura de la que cada uno sea due&ntilde;o y posteriormente cuando la SOCIEDAD PAGADORA liquide dicha Factura se repartir&aacute;n los remanentes de la misma forma hasta quedar totalmente saldados los montos pendientes a cada acreedor.</p>
<ol start="7">
<li>FONDEO DIRECTO actuar&aacute; como Factorante de los Documentos adquiridos al FACTORADO.</li>
<li>FONDEO DIRECTO recibir&aacute; a cuenta del INVERSIONISTA, los pagos que en su momento realicen las SOCIEDADES PAGADORAS.</li>
</ol>
<p><b><u>SEGUNDA. REMUNERACI&Oacute;N.</u></b> El INVERSIONISTA pagar&aacute; una comisi&oacute;n a FONDEO DIRECTO cada vez que &eacute;ste &uacute;ltimo celebre un Contrato de Factoraje a cuenta del INVERSIONISTA. &Eacute;sta comisi&oacute;n ser&aacute; por el monto asociado a cada operaci&oacute;n y ser&aacute; mostrada en la Plataforma o Medios Electr&oacute;nicos como &ldquo;Comisi&oacute;n&rdquo; en el momento en el que el Inversionista gira una Instrucci&oacute;n a FONDEO DIRECTO para la celebraci&oacute;n de una Operaci&oacute;n o Contrato de Factoraje; por lo que dicha instrucci&oacute;n acompa&ntilde;ada de la Firma Electr&oacute;nica del INVERSIONISTA har&aacute;n prueba plena de la autorizaci&oacute;n para llevar a cabo la operaci&oacute;n de factoraje as&iacute; como de la aceptaci&oacute;n del monto de la &ldquo;Comisi&oacute;n&rdquo;, por lo que desde ese momento el INVERSIONISTA estar&aacute; obligado a pagar dicha&ldquo;Comisi&oacute;n&rdquo;, la cual ser&aacute; descontada de los Recursos Disponibles del inversionista.<p>
<p>Las instrucciones con el monto de la Comisi&oacute;n y la aceptaci&oacute;n del INVERSIONISTA de los t&eacute;rminos relacionados y mostrados en cada operaci&oacute;n a trav&eacute;s de la Firma Electr&oacute;nica, formar&aacute;n parte de &eacute;ste contrato como <b>Anexo &ldquo;A&rdquo;</b>, por lo que a cada operaci&oacute;n de factoraje en los t&eacute;rminos de la presente cl&aacute;usula formar&aacute; parte del mencionado Anexo &ldquo;A&rdquo; y ser&aacute;n identificadas con n&uacute;meros consecutivos, ejemplo Anexo &ldquo;A&rdquo; (N&uacute;mero 1), Anexo &ldquo;A&rdquo; (n&uacute;mero 2), Anexo &ldquo;A&rdquo; (n&uacute;mero 3) y as&iacute; sucesivamente.</p>
<p><b><u>TERCERA. FONDEO DE RECURSOS.</u></b> EL INVERSIONISTA fondear&aacute; en la cuenta bancaria que FONDEO DIRECTO tiene a su nombre y cuya informaci&oacute;n se encuentra detallada en el <b>Anexo &ldquo;C&rdquo;</b> del presente Contrato los Recursos con los que desee que FONDEO DIRECTO celebr&eacute; Operaciones y/o Contratos de Factorajes al amparo del presente contrato de Comisi&oacute;n; recursos que podr&aacute;n ser incrementados en cualquier momento por el INVERSIONISTA.</p>
<p>Una vez realizado el Fondeo de Recursos, El INVERSIONISTA notificar&aacute; a trav&eacute;s de la Plataforma o Medios Electr&oacute;nicos a FONDEO DIRECTO quien despu&eacute;s de haber verificado dicho dep&oacute;sito, sumar&aacute; los Recursos disponibles en la cuenta virtual del INVERSIONISTA para que puedan ser utilizados en la celebraci&oacute;n de Operaciones y/o Contratos de Factoraje.</p>
<p>LAS PARTES acuerdan que FONDEO DIRECTO no podr&aacute; celebrar Contratos y/o Operaciones de Factoraje si el INVERSIONISTA no lo provee de los Recursos suficientes y realiza la notificaci&oacute;n correspondiente a trav&eacute;s de la Plataforma de Fondeo Directo y/o Medios electr&oacute;nicos.</p>
<p>En todos los casos y sin excepciones, el INVERSIONISTA deber&aacute; de ser titular de la cuenta bancaria de la cual se originan los Recursos.</p>
<p>CUARTA. RETIRO DE LOS RECURSOS. El INVERSIONISTA podr&aacute; en cualquier momento retirar de su Cuenta Virtual los Recursos Disponibles para la celebraci&oacute;n de Operaciones y/o Contratos de Factoraje a trav&eacute;s de la Comisi&oacute;n otorgada a FONDEO DIRECTO.</p>
<p>Para efectos de lo se&ntilde;alado en el p&aacute;rrafo anterior el INVERSIONISTA deber&aacute; acceder a la Plataforma y en el apartado denominado &ldquo;Solicitar Retiro&rdquo; ingresar la cantidad que desea retirar y realizar la solicitud por el monto que desea retirar, firmando para tal efecto con su Firma Electr&oacute;nica dicha solicitud de retiro.</p>
<p>Una vez que FONDEO DIRECTO reciba la solicitud del INVERSIONISTA para realizar el retiro de los Recursos Disponibles (Son los recursos que est&aacute;n listos para la celebraci&oacute;n de operaciones de factoraje que no est&aacute;n siendo utilizados por el INVERSIONISTA en operaciones de factoraje), tendr&aacute; un plazo de 48 horas h&aacute;biles para llevar a cabo la transferencia de los Recursos a la cuenta bancaria del INVERSIONISTA.</p>
<p>Para efectos de lo se&ntilde;alado en la presente cl&aacute;usula el INVERSIONISTA se&ntilde;ala como cuenta bancaria para realizar el retiro de los Recursos Disponibles aquella cuya informaci&oacute;n se encuentra detallada en el <b>Anexo &ldquo;D&rdquo;</b> del presente Contrato.</p>
<p>El INVERSIONISTA no podr&aacute; solicitar el retiro de los Recursos Operados por FONDEO DIRECTO conforme a las instrucciones giradas por el INVERSIONISTA para la celebraci&oacute;n de Contratos y/o Operaciones de Factoraje, ni tampoco podr&aacute; solicitar el retiro de los montos que sean mayores a los Recursos Disponibles que el INVERSIONISTA tenga en su Cuenta Virtual.</p>
<p>En caso de que el INVERSIONISTA en un futuro desee cambiar la cuenta bancaria en donde FONDEO DIRECTO deba hacerle la dispersi&oacute;n de los Recursos, deber&aacute; notific&aacute;rselo a FONDEO DIRECTO a trav&eacute;s del correo electr&oacute;nico se&ntilde;alado en las declaraciones del presente acuerdo de voluntades, con cuando menos 5 d&iacute;as h&aacute;biles de anticipaci&oacute;n.</p>
<ol class="reset" start="1">
<li><b>USO DE MEDIOS ELECTR&Oacute;NICOS</b></li>
</ol>
<p><b><u>QUINTA. ACTOS POR MEDIOS ELECTR&Oacute;NICOS.</u></b> Las Partes reconocen que, en t&eacute;rminos del 75 del C&oacute;digo de Comercio en vigor, los actos relacionados con los Medios Electr&oacute;nicos aceptados son de naturaleza mercantil tanto para el INVERSIONISTA como para FONDEO DIRECTO. De acuerdo con lo anterior, el INVERSIONISTA y FONDEO DIRECTO convienen que:</p>
<ol class="latin">
<li>Para efectos de lo dispuesto en la fracci&oacute;n I del art&iacute;culo 91 del C&oacute;digo de Comercio en vigor, se entender&aacute; que FONDEO DIRECTO recibe un Mensaje de Datos enviado por el INVERSIONISTA cuando &eacute;ste acceda a la Plataforma y que la informaci&oacute;n proporcionada a trav&eacute;s de ese servicio se recibe por FONDEO DIRECTO en el momento en el que &eacute;ste &uacute;ltimo obtenga dicha informaci&oacute;n.</li>
<li>Todas las instrucciones, confirmaciones, avisos, informaci&oacute;n, y/o Mensajes de Datos, realizadas y/o enviados a trav&eacute;s de la Plataforma &oacute; a trav&eacute;s de Medios Electr&oacute;nicos tendr&aacute;n el alcance jur&iacute;dico necesario para darle validez a las operaciones derivadas de este Contrato.</li>
</ol>
<p><b><u>SEXTA. REGISTRO.</u></b> Para poder llevar a cabo el Objeto del presente Contrato a trav&eacute;s de la Plataforma, el INVERSIONISTA deber&aacute; iniciar su registro en la plataforma a trav&eacute;s de una solicitud que FONDEO DIRECTO har&aacute; disponible por Medios Electr&oacute;nicos y en la que FONDEO DIRECTO solicitar&aacute; informaci&oacute;n que permita identificar al INVERSIONISTA y permita dar cumplimiento a las obligaciones establecidas en &eacute;ste Contrato.</p>
<p>Una vez que el INVERSIONISTA llene correctamente la mencionada solicitud, FONDEO DIRECTO completar&aacute; el registro y enviar&aacute; una liga electr&oacute;nica al correo electr&oacute;nico del INVERSIONISTA, para efecto de que &eacute;ste acceda a dicha liga y proceda a crear una Contrase&ntilde;a; la cual en conjunto con el correo electr&oacute;nico del INVERSIONISTA lo identificaran como Usuario y le dar&aacute;n acceso a la Plataforma.</p>
<p>El INVERSIONISTA podr&aacute; otorgar el acceso en la Plataforma a sus Usuarios Adicionales, previo Registro en dicha plataforma y autorizaci&oacute;n de &ldquo;FONDEO DIRECTO&rdquo;.</p>
<p>El Nombre de Usuario y la Contrase&ntilde;a del Usuario ser&aacute;n intransferibles por lo que es obligaci&oacute;n del INVERSIONISTA mantenerlas seguras y asumir la responsabilidad en caso de su mal uso.</p>
<p><b><u>S&Eacute;PTIMA. INSTRUCCIONES.</u></b> Siempre que el INVERSIONISTA quiera girar alguna instrucci&oacute;n a FONDEO DIRECTO en cumplimento con el presente Contrato de Comisi&oacute;n, deber&aacute; realizarlo a trav&eacute;s de Medios electr&oacute;nicos y/o la Plataforma con su Firma Electr&oacute;nica, la cual har&aacute; las veces de firma aut&oacute;grafa por lo que FONDEO DIRECTO no incurrir&aacute; en responsabilidad alguna cuando act&uacute;e al amparo de una Instrucci&oacute;n otorgada por el INVERSIONISTA en dichos t&eacute;rminos.</p>
<p>FONDEO DIRECTO no estar&aacute; obligado a cumplir instrucciones que no se den a trav&eacute;s de los Medios electr&oacute;nicos y/o la Plataforma con la Firma Electr&oacute;nica del INVERSIONISTA.</p>
<p><b><u>OCTAVA. CONEXI&Oacute;N.</u></b> Para lograr la conexi&oacute;n a los servicios de Internet, el INVERSIONISTA deber&aacute; contar con equipo de c&oacute;mputo y/o un dispositivo m&oacute;vil con acceso a Internet, mismos que deber&aacute; mantener actualizados de modo que conserven compatibilidad con la Plataforma, en este acto, libera a FONDEO DIRECTO de cualquier responsabilidad que pudiera derivarse, de manera enunciativa m&aacute;s no limitativa, por el mal uso que le da o llegue a dar a dicho equipo y/o sistema, as&iacute; como por usar p&aacute;ginas de internet no seguras, por permitir que terceras personas, voluntaria o involuntariamente, accedan a su computadora u otro dispositivo donde almacena o llegue a almacenar sus Contrase&ntilde;as. Asimismo, el INVERSIONISTA se obliga a evitar abrir y/o contestar correos electr&oacute;nicos de terceros que desconozca, as&iacute; como utilizar programas o sistemas de c&oacute;mputo legales y a estar enterado de las actualizaciones o parches que dichos programas requieren para su uso seguro y acepta que la navegaci&oacute;n o vista de sitios electr&oacute;nicos, es bajo su m&aacute;s exclusiva responsabilidad.</p>
<p>Ser&aacute; bajo la m&aacute;s exclusiva responsabilidad del INVERSIONISTA, visitar sitios inseguros que pudieran extraer informaci&oacute;n confidencial del INVERSIONISTA, as&iacute; como bajar cualquier contenido de tales sitios y/o descargar sistemas o programas de c&oacute;mputo que permitan compartir archivos (peer to peer) que pudieran vulnerar la privacidad de su informaci&oacute;n y que el equipo y/o sistemas electr&oacute;nicos que utiliza cuenten con la seguridad para evitar este tipo de intrusiones.</p>
<p><b><u>NOVENA. USO.</u></b> El uso de la Plataforma representa grandes beneficios para el INVERSIONISTA, no obstante, su uso diferente a los pactados en el Contrato representa tambi&eacute;n algunos riesgos de seguridad que pueden derivar en diversas modalidades de fraude en perjuicio del propio INVERSIONISTA, riesgos que pueden ser mitigados por el INVERSIONISTA siguiendo ciertas pautas b&aacute;sicas de protecci&oacute;n de informaci&oacute;n personal y Contrase&ntilde;a mismas que se obliga a establecer y que a continuaci&oacute;n se mencionan:</p>
<ol class="latin" start="2">
<li>Instalar en su computadora personal, software antivirus y mantenerlo actualizado.</li>
<li>Reducir la cantidad de correo que recibe en la que se contengan sus datos personales.</li>
<li>Verificar la legitimidad de toda solicitud de informaci&oacute;n personal, financiera o de sus cuentas y tarjetas, que reciba por cualquier medio, especialmente por correo electr&oacute;nico. FONDEO DIRECTO nunca le solicitar&aacute; que proporcione su Contrase&ntilde;a a trav&eacute;s de un correo electr&oacute;nico.</li>
<li>No deber&aacute; compartir sus Contrase&ntilde;a con persona alguna, debe utilizar claves diferentes para cada uno de los medios electr&oacute;nicos que utilice y escoja claves que resulten dif&iacute;ciles de adivinar para un tercero y que incluyan letras y n&uacute;meros.</li>
<li>Verificar constantemente los movimientos que presenten sus cuentas y tarjetas y revise siempre sus estados de cuenta.</li>
<li>No llevar consigo su Contrase&ntilde;a, deber&aacute; memorizarlas o mantenerlas en un lugar seguro.</li>
</ol>
<p><b><u>D&Eacute;CIMA. NOTIFICACIONES.</u></b> Todas las notificaciones, avisos y en general cualquier comunicaci&oacute;n que LAS PARTES pretendan realizarse se har&aacute;n a trav&eacute;s de la Plataforma y/o Medios Electr&oacute;nicos.</p>
<p>Para el caso de notificaciones y avisos judiciales o preparatorios a juicio, las notificaciones se har&aacute;n en los domicilios establecidos en el presente Contrato y/o Anexos por las Partes.</p>
<ol class="reset" start="3">
<li><b>CL&Aacute;USULAS COMUNES</b></li>
</ol>
<p><b><u>D&Eacute;CIMA PRIMERA. OBLIGACIONES FISCALES Y LICITUD DE LOS RECURSOS.</u></b> Con el fin de evitar cualquier tema de operaciones con Recursos de procedencia il&iacute;cita, las Partes acuerdan que toda operaci&oacute;n derivada del Contrato deber&aacute; ser realizada por medio de transferencias electr&oacute;nicas, dep&oacute;sitos bancarios con cheque y pagos con tarjetas de cr&eacute;dito o d&eacute;bito de tal forma que las mismas se encuentren debidamente identificadas y registradas.</p>
<p><b><u>D&Eacute;CIMA SEGUNDA DERECHOS E IMPUESTOS.</u></b> Cada Parte liquidar&aacute; los derechos e impuestos que apliquen al car&aacute;cter que asume bajo el presente Contrato.</p>
<p>Asimismo el INVERSIONISTA manifiesta su conformidad para que FONDEO DIRECTO efect&uacute;e las retenciones de impuestos correspondientes conforme a la Legislaci&oacute;n Mexicana vigente.</p>
<p><b><u>D&Eacute;CIMA TERCERA. VIGENCIA.</u></b> El presente Contrato tendr&aacute; una duraci&oacute;n indefinida y podr&aacute; ser terminado anticipadamente por cualquiera de LAS PARTES mediante notificaci&oacute;n por escrito a la otra parte con 30 (treinta) d&iacute;as naturales de anticipaci&oacute;n a la fecha de terminaci&oacute;n se&ntilde;alada en dicha notificaci&oacute;n, en el entendido que las obligaciones derivadas de las operaciones abiertas continuar&aacute;n en vigor hasta que estas sean extinguidas en su totalidad y siempre y cuando el INVERSIONISTA no adeude cantidad alguna a FONDEO DIRECTO.</p>
<p><b><u>D&Eacute;CIMA CUARTA. DEFINICIONES.</u></b> Los t&eacute;rminos que se utilizan dentro de este Contrato se&ntilde;alados en el cap&iacute;tulo de DEFINICIONES tendr&aacute;n los significados que LAS PARTES les atribuyen en el presente Contrato, en el entendido de que dichos t&eacute;rminos ser&aacute;n igualmente aplicables en su forma singular o plural, femenino o masculino.</p>
<p><b><u>D&Eacute;CIMA QUINTA. MODIFICACIONES AL CONTRATO.</u></b> El presente contrato no podr&aacute; ser modificado sino mediante el consentimiento expreso de las Partes, y dichas modificaciones quedar&aacute;n establecidas a trav&eacute;s de ADENDUM los cuales ser&aacute;n firmados por LAS PARTES con su Firma Electr&oacute;nica.</p>
<p>LAS PARTES acuerdan que en caso de existir ADENDUM pendientes de firma, la plataforma de FONDEO DIRECTO no permitir&aacute; la celebraci&oacute;n de Operaciones de Factoraje.</p>
<p><b><u>D&Eacute;CIMA SEXTA. DOMICILIOS, COMUNICACIONES Y NOTIFICACIONES.</u></b>  Para todos los efectos del presente contrato, LAS PARTES se&ntilde;alan como sus domicilios, n&uacute;meros telef&oacute;nicos y correos electr&oacute;nicos donde deben ser notificados en los t&eacute;rminos del presente Contrato los se&ntilde;alados en el Anexo &ldquo;B&rdquo; del presente Contrato.</p>
<p>LAS PARTES podr&aacute;n cambiar los domicilios y/o correos electr&oacute;nicos, establecidos en el presente contrato, dando aviso a la otra parte por escrito, dichas comunicaciones podr&aacute;n ser enviadas a trav&eacute;s de Medios Electr&oacute;nicos.</p>
<p>Mientras LAS PARTES no se notifiquen el cambio de sus domicilios y/o correos electr&oacute;nicos las comunicaciones y notificaciones se realizar&aacute;n a trav&eacute;s de los mismos, surtiendo las mismas todos sus efectos.</p>
<p><b><u>D&Eacute;CIMA S&Eacute;PTIMA. CONFIDENCIALIDAD Y DATOS PERSONALES.</u></b> El INVERSIONISTA acepta al momento de la celebraci&oacute;n del presente Contrato, que sus datos personales ser&aacute;n tratados por FONDEO DIRECTO en los t&eacute;rminos establecidos en el Aviso de Privacidad que ha sido puesto a su disposici&oacute;n a trav&eacute;s de la Plataforma y la p&aacute;gina web propiedad de FONDEO DIRECTO, de forma previa a la  celebraci&oacute;n del presente Contrato.</p>
<p>FONDEO DIRECTO tendr&aacute; en todo momento el derecho de modificar los t&eacute;rminos de su pol&iacute;tica de tratamiento de datos personales, as&iacute; como el Aviso de Privacidad, con los nuevos t&eacute;rminos y condiciones, por lo que su publicaci&oacute;n en la Plataforma ser&aacute; medio suficiente para informar al INVERSIONISTA.</p>
<p><b><u>D&Eacute;CIMA OCTAVA. CESI&Oacute;N.</u></b> Las Partes acuerdan que el INVERSIONISTA no podr&aacute; ceder o transmitir en cualquier forma, sus derechos derivados del presente Contrato sin el consentimiento previo y a trav&eacute;s de la Plataforma de FONDEO DIRECTO conviniendo las Partes para tal efecto que cualquier cesi&oacute;n en violaci&oacute;n a este acuerdo ser&aacute; nula.</p>
<p><b><u>D&Eacute;CIMA NOVENA. MANIFESTACI&Oacute;N DE LA VOLUNTAD.</u></b> De conformidad con lo establecido en los art&iacute;culos 80, 89, 90 y 97 del C&oacute;digo de Comercio, y el 1803 del C&oacute;digo Civil Federal, LAS PARTES acuerdan que:</p>
<p>EL  INVERSIONISTA manifiesta en forma expresa su voluntad para celebrar el presente contrato, al momento de firmar con su Firma Electr&oacute;nica en la Plataforma durante el registro, misma que hace las veces de la aut&oacute;grafa, realizando adem&aacute;s una aceptaci&oacute;n t&aacute;cita del mismo con el primer dep&oacute;sito o transferencia de Recursos realizado en la cuenta bancaria de FONDEO DIRECTO;</p>
<p>FONDEO DIRECTO manifiesta expresamente su voluntad para celebrar el presente Contrato, al momento de establecer en su Plataforma las condiciones del presente Contrato, realizando adem&aacute;s una aceptaci&oacute;n t&aacute;cita del mismo con la recepci&oacute;n de los Recursos en su cuenta bancaria.</p>
<p><b><u>VIG&Eacute;SIMA. FIRMA ELECTR&Oacute;NICA.</u></b> Para todo lo conveniente con el presente Contrato la Firma Electr&oacute;nica podr&aacute; usarse a trav&eacute;s de la Plataforma, produciendo los mismos efectos que los presentados con firma aut&oacute;grafa, y, en consecuencia, tendr&aacute;n el mismo valor probatorio que las disposiciones aplicables les otorgan a &eacute;sta.</p>
<p><b><u>VIG&Eacute;SIMA PRIMERA. JURISDICCI&Oacute;N Y COMPETENCIA.</u></b> El presente contrato es de naturaleza mercantil, por lo que &eacute;l mismo est&aacute; sujeto para su interpretaci&oacute;n, ejecuci&oacute;n y cumplimiento a las Leyes Mercantiles de los Estados Unidos Mexicanos, someti&eacute;ndose expresamente LAS PARTES a la jurisdicci&oacute;n y competencia de los tribunales competentes de la Ciudad de Guadalajara, Jalisco, renunciando a cualquier otro fuero que por raz&oacute;n de sus domicilios presentes o futuros o por cualquier otra causa pudiera corresponderles.</p>
<p><b>Le&iacute;do el contenido del presente Contrato y enteradas las partes de las obligaciones a las que se sujetan, as&iacute; como el alcance legal de las mismas, lo firman utilizando su Firma Electr&oacute;nica misma que se genera al apretar la opci&oacute;n de &ldquo;Estoy de acuerdo&rdquo; en la secci&oacute;n correspondiente en La Plataforma, por lo que al generar dicha Firma LAS PARTES quedan obligadas al cumplimiento de todas las obligaciones a su cargo derivadas del presente contrato, quedando en poder de cada una de las partes un ejemplar original de este Contrato para constancia de la operaci&oacute;n que en este acto se celebra en la Ciudad de [FIRMA_CIUDAD] a los [FIRMA_FECHA_DIAS] d&iacute;as del mes de [FIRMA_FECHA_MES] de [FIRMA_FECHA_ANIO].</b></p>
