<meta charset="utf8"/>
<style>body {
  max-width: 7.2in;
  padding: 0.98in 1.18in;
  text-align: justify;
  font-weight: 400;
  font-size: 9pt;
  vertical-align: baseline;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.roman {
  list-style-type: upper-roman;
}
.latin {
  list-style-type: lower-latin;
}
.reset {
  padding: 0;
}
.break {
  page-break-after: always;
}
li ~ li {
  margin-top: 1em;
}
table, th, td {
    border: 1px solid black;
}
.invoices-table-container {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoices-table {
  width: 100%;
  border-collapse: collapse;
}

.invoices-table th {
  font-size: 10px;
  font-weight: 500;
}

.invoices-table tr td {
  font-size: 8px;
  font-weight: 300;
  text-align: center;
  text-transform: none!important;
}
</style>

<p align="center"><b>Anexo &ldquo;A&rdquo;</b> [ANEXO_NUMERO]</p>
<p align="center"><b>INSTRUCCIONES, COMISIONES, ACEPTACI&Oacute;N</b></p>

<p><b>ANEXO &ldquo;A&rdquo; DEL CONTRATO DE COMISI&Oacute;N MERCANTIL QUE CELEBRAN POR UNA PARTE PLATAFORMA FD, S.A.P.I. DE C.V., EN LO SUCESIVO &ldquo;FONDEO DIRECTO&rdquo; REPRESENTADA EN ESTE ACTO POR FERNANDO MIRAMONTES, Y POR LA OTRA PARTE [PERSONA_FISICA_NOMBRE_O_RAZON_SOCIAL] POR SU PROPIO DERECHO, EN LO SUCESIVO EL &ldquo;INVERSIONISTA&rdquo;, Y A QUIENES DE MANERA CONJUNTA SE LES DENOMINA COMO &ldquo;LAS PARTES&rdquo;.</b></p>

<p>En este acto el &ldquo;Inversionista&rdquo; instruye irrevocablemente a &ldquo;Fondeo Directo&rdquo; para que est&eacute; en su propio nombre y con los Recursos disponibles del inversionista, celebr&eacute; Contratos y/o Operaciones de factoraje con el (los) Proveedor(es) ([NOMBRES_PROVEEDORES]) respecto de las Facturas que se describen en el presente Anexo, aceptando desde este momento el &ldquo;Inversionista&rdquo; las Comisiones que cobrar&aacute; &ldquo;Fondeo Directo&rdquo; en su car&aacute;cter de Comisionista por la celebraci&oacute;n de dichas operaciones de factoraje.</p>

<p>Relación de facturas operadas en factoraje: </p>

<div class="invoices-table-container">
[TABLE_INVOICES_RAW]
</div>

<p><em>Le&iacute;do el contenido del presente documento, el [NOMBRE_INVERSIONISTA] instruye a &ldquo;Fondeo Directo&rdquo; para efectos de celebrar las operaciones de factoraje respecto de las facturas descritas en la relaci&oacute;n de facturas se&ntilde;alada con anterioridad del (de los) Proveedor (es) ([NOMBRES_PROVEEDORES]) y acepta el precio y la comisi&oacute;n cobrada por Fondeo Directo por cada una de las facturas, y en raz&oacute;n de lo anterior en este acto procede a firmar con su Firma Electr&oacute;nica misma que se genera al seleccionar la opci&oacute;n de &ldquo;Se gira la Instrucci&oacute;n para la celebraci&oacute;n de Operaciones de factoraje respecto de las facturas ([NUMEROS_DE_FACTURAS]) del (los) Proveedor(es) ([NOMBRES_PROVEEDORES]) aceptando las condiciones para dichas operaciones as&iacute; como la respectiva comisi&oacute;n de Fondeo Directo&rdquo;, por lo que al generar la Firma Electr&oacute;nica, el [NOMBRE_INVERSIONISTA] gira la presente Instrucci&oacute;n de manera irrevocable, asimismo, en el presente acto &ldquo;Fondeo Directo&rdquo; firma con su Firma Electr&oacute;nica de conformidad y aceptaci&oacute;n el presente Anexo, en la Ciudad de [FIRMA_CIUDAD] a los [FIRMA_FECHA_DIAS] d&iacute;as del mes de [FIRMA_FECHA_MES] del [FIRMA_FECHA_ANIO].</em></p>
